#{extends "bodytemplate.html" /}
#{set title:'Sparkmuse Discussions' /}
#{set nav:'DISCUSS' /}

<link rel="stylesheet" href="@{'/public/stylesheets/Discuss/index-2.css'}" type="text/css" />

<div class="page-canvas prepend-1 span-22 append-1">

  <div class="span-16 first">

    <div id="breadcrumbs-container"></div>

    <div class="create-topic">
      <div class="create-topic-inner">
        <form action="@{Discuss.submit()}" method="POST" name="CreatePostForm">
          <div class="error-message" parameter="discussion"></div>
          <div class="field discussion-title">
            <div class="error-message" parameter="discussion.title"></div>
            <div class="input-wrapper">
              <label>New Topic Title</label>
              <input type="text" name="title"/>
              <div class="character-count">120</div>
            </div>
          </div>
          <div class="details" style="display:none;">
            <div class="field">
              <div class="error-message" parameter="discussion.url"></div>
              <div class="input-wrapper">
                <label>URL</label>
                <input type="text" name="url"/>
              </div>
            </div>
            <div class="alt">or</div>
            <div class="field">
              <div class="error-message" parameter="discussion.content"></div>
              <div class="input-wrapper">
                <label>Content</label>
                <textarea name="content"></textarea>
              </div>
            </div>
            <div class="control-bar">
              <a href="#" onclick="SM.Discuss.cancelPost();" class="button negative">
                <span>
                  <img src="@{'public/images/icons/silk/cancel.png'}" alt="Cancel"/>
                  Cancel
                </span>
              </a>
              <a href="#" onclick="$(document.CreatePostForm).submit();" class="button positive">
                <span>
                  <img src="@{'public/images/icons/silk/accept.png'}" alt="Create Spark"/>
                  Post
                </span>
              </a>
              <div class="clear"></div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <hr/>
    <div id="discussions-container">

    </div>

  </div>

  <div class="span-6 discussion-sidebar-wrapper wrapper last">

    <div class="sidebox" id="groupinfo-general">
    <div class="sidebox-inner">
      <h4>General Discussion</h4>
      <p>
        Now we're talking. Start a discussion, weigh in on ideas, and connect 
        with other entrepreneurs here.
      </p>
      <div class="actions">
        <a href="@{Application.guidelines()}#Groups">Guidelines &rarr;</a>
      </div>
    </div>
    </div>

    <div id="groupinfo-other">

    </div>

    <div class="sidebox groups">
    <div class="sidebox-inner">
      <h4>Groups</h4>
      <ul>
        #{list items: discussionGroups.groups, as: "group" }
          <li>
            <a class="group" href="#${group.name}">${group.name}</a>
          </li>
        #{/list}
      </ul>
      <div class="clear"></div>
    </div>
    </div>

  </div>

  <div class="clear"></div>

</div>

<script type="text/javascript" src="@{'public/javascripts/discuss-1.js'}"></script>

<script type="text/javascript">

  $(document).ready(function(){

    // === navigation

    if (!SM.Discuss) { SM.Discuss = {}; }
    var D = SM.Discuss;

    var page = new D.DiscussionPageModel(${discussionPageModel.toJson().raw()}),
        controller = new D.Controller({
          pageModel: page,
          currentGroup: page.group.get("name")
        }),
        view = new D.PageView({
          model: page,
          el: $("div.page-canvas").first()
        });

    if ((window.location + "").indexOf("#") < 0) {
      window.location += "#${discussionsResponse.group?.name}";
    }
    Backbone.history.start({silent: true});

    //inline labels
    $(".create-topic input, .create-topic textarea").keyup(function(){
      if (this.value.length > 0) {
        $(this).parent().find("label").hide();
      }
      else {
        $(this).parent().find("label").show();
      }
    });

    // === create topic
    $(".create-topic .discussion-title input").keyup(function(){
      var details = $(this).parents(".create-topic").find(".details"),
          counter = $(".character-count", this.parentNode.parentNode),
          count = 120 - this.value.length;

      counter.html("" + count);
      if (count < 0) { counter.addClass("negative"); }
      else { counter.removeClass("negative"); }

      if (this.value.length > 0) {
        details.slideDown();
      }
      else {
        details.slideUp();
      }
    });

    D.cancelPost = function() {
      $(".create-topic").find(".details").slideUp();
      $(".create-topic input, .create-topic textarea").val("").trigger("keyup");
    };

    D.addPost = function(r) {
      if (r.fragment) {
        $("#discussions-container").prepend(r.fragment);
      }
    }

    var converter = new Attacklab.showdown.converter();
    $(document.CreatePostForm).formHandler(function(){
      var discussion = {
        title: this.title.value,
        url: this.url.value,
        content: this.content.value,
        displayContent: converter.makeHtml(this.content.value)
      };
      if (page.group.id) {
        discussion.groupId = page.group.id;
      }

      return {
        discussion : discussion,
        _fragment: D.addPost
      };
    }).bind(SM.Events.Submit, SM.formSubmitModal)
      .bind(SM.Events.SubmitEnd, SM.formSubmitModalClose)
      .bind(SM.Events.SubmitEndSuccess, D.cancelPost);

  });

</script>

<script type="text/html" id="template-breadcrumbs">
  <a href="#" class="group">General</a> &rsaquo; {{name}}
</script>

<script type="text/html" id="template-groupinfo">
  <div class="sidebox">
  <div class="sidebox-inner">
    <h4>{{name}}</h4>
    <p>{{displayInfo}}</p>
  </div>
  </div>
</script>