#{set title:'Digest.io Feedback' /}

<h2>Digest.io Feedback</h2>

<p>
  I've looked over your site and wanted to give you some in-depth feedback.
  I hope you will take this as constructive as I know sometimes this stuff can sound like nitpicking~
</p>

<p>
  I like the idea of creating a helpful tool for those with digestive
  issues to monitor their health.  I think the key to succeeding is providing
  depth into their particular issues and then using those areas where you have
  it to market.  For example, you mentioned having Crohn's disease yourself, so
  perhaps this is one area where you could provide extremely deep information.
  In addition to providing a management tool, you might provide data from Wikipedia,
  WebMD, and support groups.  You might also provide some social aspects on this front
  too: Q&A, forums, etc.  In other words, instead of being just a tool, you become
  a real resource for people with a specific disorder.  This repositions you from being
  a generic tool to being able to advertise directly to people with specific problems.
</p>

<p>
  I've heard that medical terms in particular rank particularly high in Google Adwords.
  I would investigate this for yourself to see if any digestive diseases are the same.
  While you may not want to pay those prices yourself, it will validate areas where you
  could see some high adoption.  Furthermore, if a particular problem is underserved,
  you may be able to charge even more for your monitoring tool, maybe even getting
  it doctor-approved so that people could charge it to their insurance.
</p>

<h3>Landing Page</h3>

<img src="${'/public/images/feedback/digestio/homepage.jpg'}" alt="Landing Page" class="lightbox" />
<ol>
  <li>
    I like the general layout of the page, it is well organized and each area has
    a well defined purpose.  Aesthetically, I think we could use more color... more on that below.
  </li>
  <li>
    Using a question, "What is digest.io?", is a good way to start as it was exactly what I was thinking
    when I first visited the page.  I would be specific
    about your intent for this tool being used by those with disorders rather than general health.  Also,
    optimize is a programmer-y word :).  How about:  "What is Digest.io?  Digest.io is a resource to help
    those with digestive disorders monitor and improve their health."
  </li>
  <li>
    When I first saw this field, I thought it was a button.  I would choose a different color from your
    Sign Up button or change the button color itself.
  </li>
  <li>
    Your subheadings need a bit more emphasis.  As a simple test, blur your eyes and check for two things: separation
    between content and distinction between types of content.  You've got good separation, but the title doesn't distinguish
    itself as being one.  Try a different font, a larger size, or a different color.  Also use title case for subheadings:
    "Why Should You Use Digest.io?"
  </li>
  <li>
    Be affirmative here and cut the abbrievation: "Text, call, email, or tweet entries into your food diary."  Btw, diary
    sounds like an excellent metaphor for a tracking page!
  </li>
  <li>
    Be affirmative and a little clearer: "Lets us watch your diary and help you balance your diet."  I'd also consider
    a different point instead of saving time.  I may be ignorant on these disorders, but I would think that know-how is
    the more important value than time.
  </li>
</ol>

<p>
  I think the page desperately needs more color.  No need to fear, this is a pretty simple change as your layout is already
  solid.  Here is a rough draft of what I'm thinking:
</p>
<img src="${'/public/images/feedback/digestio/homepage2.jpg'}" alt="Landing Page" class="lightbox" />
<p>
  I popped over to <a href="http://www.colourlovers.com">ColourLovers</a> and picked out a scheme that said "serious, but not
  seriously blue" to me (too much blue in medicine, although I understand why heh).  This isn't a complete refurb and the colors
  aren't perfect, but I think
  it will give you some food for thought.
</p>

<h3>How It Works</h3>

<img src="${'/public/images/feedback/digestio/howitworks.jpg'}" alt="Landing Page" class="lightbox" />
<ol>
  <li>
    Subtext is repetitive, just use a header and drop the fluff.
  </li>
  <li>
    It's good you provided links to both the sign up and sign in pages, but you shouldn't repeat it as bullet points.
    Use plainspeak: "Signing up is free and takes less than 30 seconds!"
  </li>
  <li>
    Captilize the header as mentioned on the last page.  The bullet points seem more like a checklist.  Explain that
    you have many options so that they can pick the most convenient.  Also give some depth on how your CC tracking works
    (if you know yet).
  </li>
  <li>
    This is actually a good spot for a bullet list, but I would qualify it with something like "Give us some feedback
    on how you're feeling each day."  Follow that will a list of questions you would ask.
  </li>
  <li>
    What is an IO report?  Explain what it is and how it gives you information that you can use to help them.
  </li>
  <li>
    What kind of suggestions will you be making?  How do you know they work?  How hard will these suggestions be
    to follow?
  </li>
</ol>

