#{set title:'Gift.io Feedback' /}

<h2>Gift.io Feedback</h2>

<p>
  Apps like this always seem completely useless to me until the holidays come around and then
  I'm begging for suggestions.  When you have family members with wish lists like "clothes, money",
  you don't really have much in the way of guidance.  My first impressions of your service are,
  "wow, this looks clean and usable, lets try it" to "oh, nothing for my friends, oh well."
</p>

<p>
  I think you have some promise here but I would avoid dropping a user to a generic gift list at
  all costs as they may very well decide that your app isn't for them like I did.  If you haven't had
  the chance to massage your data or get more of it, then I suggest cheating and just picking a
  few things at random.
</p>

<p>
  It's a shame that ideas for apps like these come right around the time when you don't have a long
  implementation window, but I hope that won't deter you.  Done properly, there is a nice opportunity
  for affilate income and that would be a nice, passive holiday bonus for you.
</p>


<h3>Landing Page</h3>

<div class="lightbox-wrapper"><img src="${'/public/images/feedback/giftio/landingpage.jpg'}" alt="Landing Page" class="lightbox" /></div>

<p>
  I give most people a hard time on their landing pages but yours is awesome: great design, concise point, and a
  call to action that is as ubiquitous as logging in.  I do have some minor tips for you though.  Your masthead is
  a graphic which isn't visible to search engines.  Something as important as your name and tagline shouldn't
  be skipped over!  While you could go the <a href="http://typekit.com/">Typekit</a> route as a fix, I think the simplist thing for you to do would be
  to add your title and tagline in the appropriate markup (h1/h2) and then use the text-indent CSS property to move it off screen
  for your image.
</p>

<div class="lightbox-wrapper"><img src="${'/public/images/feedback/giftio/head.jpg'}" alt="Header" class="lightbox" /></div>

<p>
  I'd also suggest putting a meta description tag in your head section.  This is a minor SEO optimization, but there are
  sites that actually parse this value to provide contextual information.  For example, Facebook will read this information
  when preparing a summary of your page.  Since your service hopes to employ Facebook for virality, I would do my best to
  ensure that when someone posts about your site, their friends are getting the biggest picture possible.
</p>

<div class="lightbox-wrapper"><img src="${'/public/images/feedback/giftio/fbmessage.jpg'}" alt="Facebook message with Gift.io link" class="lightbox" /></div>
<div class="lightbox-wrapper"><img src="${'/public/images/feedback/giftio/fbmessage2.jpg'}" alt="Facebook message with Twitter link" class="lightbox" /></div>

<h3>Signing Up and In</h3>

<div class="lightbox-wrapper"><img src="${'/public/images/feedback/giftio/requestforinfo.jpg'}" alt="Log in dialog" class="lightbox" /></div>

<p>
  When I see this page, I start to have second thoughts about signing in.  I can understand why you need some data for
  recommendations, but this feels like you want it all.  I'd try to cut out things you don't really need such as sending me
  email, posting to my wall, and any-time access.  Can you accomplish as much with fewer security priviledges?  I'd also
  include a "How it Works" link on your landing page for people like me who are going to wonder how you are picking gifts.
  A little insight on how you are using the information will go a long way to easing an uncertain mind.  Your promise not to
  abuse this trust was a nice move in this respect.
</p>

<h3>Recommendations Page</h3>

<p>
  As I mentioned earlier, I'd prevent dropping to generic options if at all possible.  This immediately made me feel
  like your service wouldn't be able to help me.  Generic options aren't really much better than scoping out a random
  blog, EBay, or Woot.  A small glitch: when I selected my first friend it said that there were no recommendations and
  gave me a link to look for gifts by age group.  After selecting this the first time, every other friend I went to
  immediately routed to this list.  I'm not sure if this is a bug or you are automatically determining this fact for me
  without any user feedback.
</p>

<div class="lightbox-wrapper"><img src="${'/public/images/feedback/giftio/buynow.jpg'}" alt="Buy dialog" class="lightbox" /></div>

<p>
  Again, kudos on the design: it is very clean and professional looking.  A few nits on this dialog:
</p>
<ol>
  <li>I'm sure you're pulling this data in from elsewhere, but you may want to make sure you are properly scrubbing it so
  we don't get funky text like this.</li>
  <li>I'm glad you added sharing options as this will definitely allow your users increase your exposure.  However, as a
  Facebook app, I would forgo saying "on Facebook."  I'd also center the two sharing options or add a third for balance.</li>
</ol>