#{set title:'Invincibilitee Feedback' /}

<h2>Invincibilitee Feedback</h2>

<p>
  There have been a heck of alot of t-shirt sites coming out over the last couple years,
  but I still think there is opportunity to profit from them.  We all need clothes right?
  And who doesn't love their own unique, hipster tee?  I think the key to succeeding is
  to establish your own niche (like <a href="http://www.tshirthell.com/">this</a> or
  <a href="http://www.designbyhumans.com/">this</a>) to distinguish yourself from the
  other guys.
  This effort is largely about marketing which isn't my forte, so all I can suggest is to
  push a single theme to develop a loyal following and then build out from there.
</p>

<p>
  I've looked over your site and wanted to give you some in-depth feedback.  I hope you will
  take these as constructive as I know sometimes this stuff can sound like nitpicking~
</p>

<h3>Homepage</h3>

<img src="${'/public/images/feedback/invincibilitee/title.jpg'}" alt="Title" class="lightbox" />
<p>
  The caps on the html title feel like they are screaming, especially when put beside other sites.  I'd
  also recommend adding a favicon.ico for color and bookmarking.
</p>

<img src="${'/public/images/feedback/invincibilitee/homepage.jpg'}" alt="Title" class="lightbox" />
<ol>
  <li>I'd bring up your background gradient towards the header.  This isolates your header and creates a visual
  separation between it and your content.  I think it will also be more aesthetically pleasing as the gradient
  is pretty extreme; subtlety is good.  </li>
  <li>The subheadings are definitely add some character but they lack meaning.</li>
  <li>As a user, I'm not sure what the distinction is between each.  I'd consider dropping them or providing more context.</li>
</ol>
<p>
  I love the Sharks picture, it really stands out against the dark background and adds emotion.
</p>

<h3>How We Operate</h3>

<img src="${'/public/images/feedback/invincibilitee/howweoperate.jpg'}" alt="Title" class="lightbox" />
<ol>
  <li>I feel like there is too much caps going on, this creates a somewhat violent tone.  Try "small-caps"
  if you wanna go up top without the extreme of caps.</li>
  <li>I was a little confused at first about "public exposure" until I saw the subsequent sections showing a
  tangible monetary reward.  I might cut this one as we're all on the internet and exposure is probably not what
  they are aiming for with submissions.</li>
  <li>The page would look more organized if it were left aligned, at least for the bullet points.</li>
  <li>This seems very aggressive, I might tone it down a little.  I'd also link this to your FAQ page.  I tried to
  click on it expecting to go there.</li>
</ol>
<p>I noticed this entire page is one giant image.  Investigate typekit if you want to use custom fonts.  The image
will create must higher bandwidth demands and be more difficult to maintain over time.</p>

<h3>Submit a Design</h3>
<img src="${'/public/images/feedback/invincibilitee/submit.jpg'}" alt="Title" class="lightbox" />
<ol>
  <li>Typo? Looks like an exclamation (!) followed by a period (.).</li>
  <li>This should go without saying.  If they go to the page, prompt them to login or sign up.</li>
  <li>Grammar: ending a sentence in a preposition.  Perhaps say "what you've got!"</li>
  <li>I'm not sure what this means, "where/from whom comments".</li>
</ol>
<p>In general, I feel that this page is too verbose.  I think you can gain much by being more concise.</p>

<h3>Shopping Pages</h3>

<p>It's good you have some starter content here.  I'd consider dropping the price of the tees that carry your
brand down to your cost.  These already give you the value of advertising and you'll also be offering some cheap
options.</p>

<p>I like the quotes on the top of each page, those are a nice touch that give each area a specific feel.</p>

<p>On the INVINCIBILITEE page, I'd get rid of the caps on all the copy under the quote.  The first thing I would
explain is what the INVINCIBILITEE distinction and then give links to the other pages.</p>

<h3>Mobile</h3>

<p>I was pleasantly surprised to see a mobile version of the site.  I would be to remove capslock
from the SUBMIT A DESIGN link and check the link itself- it appears to go to an empty page.  I'd also
consider automatically triggering the full-site on the iPad as a mobile view isn't needed.</p>