#{set title:'TextMunch Feedback' /}

<h2>TextMunch Feedback</h2>

<p>
  I really like the app and I can see it being something I would use myself.  I think your
  natural competition is Urban Spoon but those guys are lacking one thing that would make it
  useful to me: proximity.  When I'm looking for a suggestion, I want something pretty close;
  otherwise, I'll just go to one of my standards if I have to go any reasonable distance.
  Having a text api is a nice hack for us developers, but the layman won't have any trouble opening
  an app unless you give him a real value differentiator.  I think the fact that you are searching,
  on their behalf, for nearby restraunts can do that for you.
</p>


<h3>Messaging</h3>
<div class="lightbox-wrapper"><img src="${'/public/images/feedback/textmunch/phone.jpg'}" alt="Title" class="lightbox" /></div>
<p>
  Giving an example of the kind of food to expect versus its type is a great move.  Seeing "Yellowtail crudo"
  instead of "Seafood" makes me much more excited to visit a restraunt and gives your recommendation
  much higher authority.  I'd put some line breaks in the message itself to achieve better formatting
  and I'd add a link to the Google Maps location.  It's too much hassle to copy/paste the address and a link
  will automatically open the browser or maps app itself depending on the platform.
</p>

<h3>Landing Page</h3>
<p>
  Overall, I think this page accomplishes your primary goals.  It gives an overview of what you have
  to offer, a simple example of how to use it, and what kind of results to expect to get back.  I'd
  polish it a bit and make some of the explanation more concise.
</p>
<img src="${'/public/images/feedback/textmunch/landingpage.jpg'}" alt="Title" class="lightbox" />
<ol>
  <li>The header could use some visual separation from the rest of the page especially since it also
  serves as an anchor for several reference links.</li>
  <li>This looks a bit funky because it wraps lines thus losing some of its focus.  I'd make this a bit more
  concise as it is the primary message of your offering.</li>
  <li>Wrap this bad boy in a slick iPhone frame.</li>
  <li>Too much padding here and I wouldn't abbreviate Txt.</li>
</ol>
<img src="${'/public/images/feedback/textmunch/landingpage_edit2.jpg'}" alt="Title" class="lightbox" />
<p>
  There are a few other steps that could be taken here, but these should get you going in the right direction.
Normally, I'd put more emphasis on the design of your landing page, but you've got such a low barrier to actually
trying the service out that the user will hopefully do that instead of hanging around.
</p>