#{extends 'bodytemplate.html' /}
#{set title:'Sparkmuse, a community to discuss, refine, and act on innovative tech ideas.' /}
#{set nav:'PEOPLE' /}

<link rel="stylesheet" href="@{'/public/stylesheets/People/people-4.css'}" type="text/css" />

<div class="page-title prepend-1 span-22 append-1 first last">

  <div class="title-bar span-22 first last">
    <h1>Musers</h1>
    <h2>People of Sparkmuse</h2>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1 first last">

  <div class="span-15 first">

    <table class="users">
      <thead>
        <tr>
          <td class="column-avatar"><!--avatar --></td>
          <td class="column-name"><!--name tag --></td>
          <td><div class="thead-icon rep" title="Reputation">Rep</div></td>
          <td><div class="thead-icon posts" title="Posts">Posts</div></td>
          <td><div class="thead-icon sparks" title="Sparks">Sparks</div></td>
          <td class="column-expertise"><span class="has">Expertise</span> / <span class="seeking">Seeking Expertise</span> </td>
        </tr>
      </thead>
      <tbody>
        #{list items: profiles, as: "profile"}
        <tr class="${profile_parity}" onclick="window.location='@{User.view(profile.user.userName)}';"> *{ even/odd }*
          <td class="column-avatar">
            <img class="avatar avatar-normal" src="http://api.twitter.com/1/users/profile_image/${profile.user.userName}.json?size=normal" alt="Twitter avatar"/>
          </td>
          <td class="column-name">
            #{if profile.name}
              <div class="name">${profile.name}</div>
            #{/if}
            <a href="http://www.twitter.com/#/${profile.user.userName}" target="_blank">@${profile.user.userName}</a>
          </td>
          <td>${profile.user.reputation}</td>
          <td>${profile.user.posts}</td>
          <td>${profile.user.sparks}</td>
          <td class="column-expertise">
            #{list items: profile.expertises, as: "expertise"}
              <span class="expertise ${expertise.toCss()}" title="${expertise.toDisplay()}"></span>
            #{/list}
            #{if profile.seekingConnections}
              #{list items: profile.seekingExpertises, as: "seekingExpertise"}
                <span class="seeking-expertise ${seekingExpertise.toCss()}" title="Seeking ${seekingExpertise.toDisplay()}"></span>
              #{/list}
            #{/if}
          </td>
        </tr>
        #{/list}
      </tbody>
    </table>

  </div>

  <div class="span-7 last">

    <div class="how-to-container">
      <div class="back">
        <div class="inner">
          <ol>
            <li>Update Your Profile</li>
            <li>Contribute to the discussion</li>
            <li>Earn ${play.configuration.getProperty("people-page.min-rep")} Reputation</li>
          </ol>
        </div>
      </div>
      <div class="front">
        <div class="inner">
          How do I get listed?
        </div>
      </div>
    </div>

    #{include "standardBlurbs.html" /}

  </div>

  <div class="clear"></div>

</div>

<script type="text/javascript">

  $(document).ready(function(){
    $(".column-name a").click(function(e){
      e.stopPropagation();
    });

    $('.how-to-container').hover(function(){
      $(this).children('.front').stop().animate({'left' : '-300px'}, 500);
    },
    function(){
      $(this).children('.front').stop().animate({'top' : '0px', 'left' : '0px'}, 500);
    });

  })

</script>