$LOGO_LIGHT_YELLOW: #fdf9d2;
$LOGO_YELLOW: #f5e21f;
$LOGO_DARK_YELLOW: #FFC91F;
$LOGO_BLUE: #69D2E7;
$LOGO_LIGHT_BLUE: #A7DBD8;
$LOGO_DARK_BLUE: #007160;
$LOGO_ORANGE: #FA6900;
$LOGO_LIGHT_ORANGE: #F38630;
$COLOR_NEUTRAL: #E0E4CC;
$COLOR_LIGHT_NEUTRAL: #fefffa;
$COLOR_DARK_NEUTRAL: #d1d9a9;
$COLOR_ALT: #666;

$FONT_FAMILY_TITLE: "Tahoma", "Geneva", sans-serif;
$FONT_FAMILY_CONTROLS: "Tahoma", "Geneva", sans-serif;
$FONT_FAMILY_STANDARD: Georgia, "Times New Roman", Times, serif;

/* HEADER */

.logged-out .title {
  background: transparent url("../../images/foundry_masthead_image.png") -10px right no-repeat;
  height: 290px;
  margin-right: 10px;
  text-align: center;
}

  .logged-out .title > * {
    margin-right: 378px;
  }

  .logged-out .title h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .logged-out .title h3 {
    color: #444;
    font-size: 24px;
    line-height: 32px;
    text-shadow: 0 1px 1px white;
  }

.logged-in .title {
  text-align: center;
  padding: 0;
}

  .logged-in .title > * {
  }

  .logged-in .title h2 {
  }

  .logged-in .title h3 {
    color: #444;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0 1px 1px white;
  }

.page-title .button {
  font-size: 32px;
  line-height: 46px;
  display: inline-block;
}

  .page-title .button img {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin: -3px 3px 0 0 !important;
  }

.tagname > * { display: inline; }

/* CONTENT AREAS */

.wishes-panel-wrapper {
  width: 672px;
  float: left;
}

  .wishes-panel {
    padding: 0 10px;
  }

.wish-info-wrapper {

}

  .wish-info {
    padding: 0 15px;
  }

  .wish-info ol {
    padding: 0;
  }

  .wish-info ol.controls li {
    list-style-type: none;
    margin-bottom: 2px;
  }

  .wish-info ol.controls li .button {
    float: none;
    display: block;

    padding: 8px;

    font-size: 18px;
    line-height: 24px;
  }

  .wish-info ol.controls li .button span { padding: 0; width: 100%; }

/* INDIVIDUAL WISHES */

.wish {
  color: #666666;
}

.wish:hover { background-image: none; }

.wish-inner {
  margin-left: 75px;
  padding: 0 0 0 10px;
}

  .wish h3 {
    font-size: 1.5em;
    margin-bottom: 8px;
  }

  .wish p {
    margin-bottom: 8px;
  }

  .wish .alt {
    font-size: 14px;
  }

  .wish .details {
    vertical-align: top;
    float: left;
    margin: 0 15px 0 5px;
    padding: 0 0px 0 0px;
    background: transparent;
    text-align: left;
    line-height: 24px;
  }

    .wish .details .detail { margin-bottom: 6px; line-height: 16px; }

    .wish .details .comments {
      display: block;
      background: url("../../images/icons/silk/comments_faded.png") no-repeat;

      background-color: #FEFFFA;
      border: 1px solid #cccccc;
      -moz-border-radius: 3px;
      border-radius: 3px;
      width: 20px;
      padding: 2px 2px 2px 28px;
      height: 16px;
      color: $COLOR_ALT;
      background-position: 8px 2px;

      font-size: 12px;
      font-family: $FONT_FAMILY_CONTROLS;
    }

    .wish .details .likes {
      font-family: inherit;
      font-size: inherit;
      color: inherit;

      font-size: 12px;
      font-family: $FONT_FAMILY_CONTROLS;
    }

  .wish .alt {
    margin-bottom: 8px;
  }

  .wish .tags {
    margin-bottom: 8px;
  }

/* WISH DETAILS RIBBON */

.wish-details {
  background: url("../../images/ribbon-foundry-how.png") top left no-repeat;
  position: relative;
  top: -1.3em;
  left: -35px;
  height: 100px;
  width: 248px;
}

  .wish-details-inner {
    display: table-cell;
    vertical-align: middle;
    height: 90px;
  }

  .wish-details-inner .how-it-works {
    display: block;
    padding: 0 71px 0 64px;
    height: 50px;
    margin: 0 20px 0 5px;
    text-align: right;
    position: relative;
  }

    .how-it-works a {
      font-size: 24px;
      color: $LOGO_DARK_BLUE;
      text-shadow: 0 1px 0 white;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
      display: block;
    }

    .how-it-works .hand {
      height: 50px;
      width: 50px;
      position: absolute;
      right: 0;
      background: url("../../images/hand.png") right 50% no-repeat;
      -webkit-transition: all 200ms linear;
      -moz-transition: all 200ms linear;
      -o-transition: all 200ms linear;
      transition: all 200ms linear;
    }

    .how-it-works:hover .hand {
      -moz-transform: rotate(20deg);
      -webkit-transform: rotate(20deg);
      -o-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
      transform: rotate(20deg);
    }

    


