#{extends 'bodytemplate.html' /}
#{set title: 'Emails' /}

<style type="text/css">
  .content-container {
    padding: 1em 10px 0 10px;
  }
</style>

<div class="page-title prepend-1 span-22 append-1 first last">

  <div class="title-bar span-22 first last">
    <h2>Manage Emails</h2>
    <div class="breadcrumbs"><a href="@{Admin.home()}">Admin Home</a> &rsaquo; Emails</div>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1 first last">

  <div class="span-13 content-wrapper first last">
  <div class="content-inner">
  <div class="content-container">

    <table>
      #{list items: mailings, as: 'mailing'}
        <tr>
          <td class="column-1"><a href="@{Admin.editEmail(mailing.id)}">Edit</a></td>
          <td class="column-6" style="white-space: normal;">${mailing.subject}</td>
          <td class="column-2">${mailing?.sendDate?.format('MM/dd/yyyy')}</td>
          <td class="column-1 last">${mailing.isSent ? "Sent" : "Unsent"}</td>
        </tr>
      #{/list}
    </table>

  </div>
  </div>
  </div>

  <div class="span-9 last">
    <div class="blurb">
    <div class="blurb-inner">

      <h4>Controls</h4>

      <ul>
        <li>
          <a href='@{Admin.createEmail()}'>Create Email</a>
          <div class="subtext">Create a new mailing.</div>
        </li>
        <li>
          <a href='@{Tasks.execute("net.sparkmuse.task.mailing.SendMailingsTransformationTask")}' target="_blank">Send Mailings</a>
          <div class="subtext">Send mailings that have been dated for today or before now.</div>
        </li>
      </ul>

    </div>
    </div>
  </div>

</div>
