#{extends 'bodytemplate.html' /}
#{set title: 'Admin Home' /}

<style type="text/css">
  .content-container {
    padding: 1em 10px 0 10px;
  }
</style>

<div class="page-title prepend-1 span-22 append-1 first last">

  <div class="title-bar span-22 first last">
    <h2><a href="@{Admin.home()}">Admin</a></h2>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1 first last">

  <div class="span-13 first">
  <div class="content-wrapper">
  <div class="content-inner">
  <div class="content-container">

    <h3>Statistics</h3>

  </div>
  </div>
  </div>
  </div>

  <div class="span-9 last">
    <div class="blurb">
    <div class="blurb-inner">

      <h4>Areas</h4>

      <ul>
        <li><a href="@{Admin.manageFeedback()}">Feedback</a></li>
        <li><a href="@{Admin.users()}">Users</a></li>
        <li><a href="@{Admin.invitations()}">Invitations</a></li>
      </ul>

    </div>
    </div>
    <div class="blurb">
    <div class="blurb-inner">

      <h4>Common Tasks</h4>

      <ul>
        <li><a href='@{Tasks.execute("net.sparkmuse.task.ResetCacheTask")}' target="_blank">Clear Cache</a></li>
        <li><a href='@{Tasks.execute("net.sparkmuse.task.ActivityUpdateMultiTask")}' target="_blank">Activity Update</a></li>
        <li><a href='@{Tasks.execute("net.sparkmuse.task.GenerateInvitationCodesTask")}' target="_blank">Generate Codes</a></li>
        <li><a href='@{Tasks.execute("net.sparkmuse.task.UserProfileRepairTransformationTask")}' target="_blank">Repair Null User Profiles</a></li>
        <li><a href='@{Tasks.execute("net.sparkmuse.task.GatherAppStatisticsTask")}' target="_blank">Gather App Stats</a></li>
        <li><a href='@{Tasks.execute("net.sparkmuse.task.UserApplicationCleanupTransformationTask")}' target="_blank">Remove Invited User's Applications</a></li>
      </ul>

    </div>
    </div>
    <div class="blurb">
    <div class="blurb-inner">

      <h4>One Time Tasks</h4>

      <ul>
        <li><a href='@{Tasks.execute("net.sparkmuse.task.ResetNotifiedPostTransformationTask")}' target="_blank">Reset Notified and Delete Activities</a></li>
        <li><a href='@{Tasks.execute("net.sparkmuse.task.LowercaseSparkTagsTransformationTask")}' target="_blank">Lowercase Spark Tags</a></li>
      </ul>

    </div>
    </div>
  </div>

</div>

<script type="text/html" id="template-existing-image-entry">
  <li>
    <a href="http://a.sparkmuse.com/serve/{{imageKey}}" target="_blank">View</a>
    <div class="key" style="overflow-x: scroll;">{{imageKey}}</div>
  </li>
</script>

<script type="text/javascript">

  $(document).ready(function() {
    var converter = new Attacklab.showdown.converter();

    $(document.Feedback).formHandler(function(){
      var imageKeys = $("#existing-images .key").map(function(){
        return $(this).html();
      }).get();
      return {
        key: this.key.value,
        title: this.title.value,
        content: this.content.value,
        displayContent: converter.makeHtml(this.content.value.replace(/_/g, "&#95;")),
        imageKeys: imageKeys,
        isPrivate: this.private.checked
      };
    }).bind(SM.Events.Submit, SM.formSubmitModal)
      .bind(SM.Events.SubmitEnd, SM.formSubmitModalClose);

  });
</script>


<script type="text/javascript">

  document.domain = "sparkmuse.com"; *{ circumvent same origin policy }*

  $(document).ready(function() {

    var s = SM.Spark = {

      newVisual: function(uploadTarget) {
        if (!uploadTarget) {
          var id = s._createLoadingView("#images", "visual");
          $.ajax({
            url: "@{Blob.createUploadTarget}",
            context: s,
            success: function(r) {
              $("#" + id).remove();
              this.newVisual(r);
            }
          });
        }
        else {
          var id = SM.newId();
          $("#images").append(Mustache.to_html(
              $("#template-new-visual-uploader").html(),
              { id: id, uploadTarget: uploadTarget.url }
          ));
          var showVisual = function(){
            $.ajax({
              url: "@{Blob.lastUpload}",
              data: {uuid: uploadTarget.uuid},
              context: s,
              success: function(r) {
                $("#" + id).remove();
                this.addEntry(r);
              },
              error: function(r, status) {
                if (status === "404") {
                  showVisual();
                }
              }
            });
          }
          $("#" + id + " iframe").load(showVisual);
        }
      },

      addEntry: function(key) {
        $("#existing-images").append(Mustache.to_html(
            $("#template-existing-image-entry").html(),
            { imageKey: key }
        ));
      },

      onVisualFormSubmit: function(id) {
        $("#" + id + " form").hide();
        $("#" + id).append('<img src="@{'public/images/spinner.gif'}" />');
        return true;
      },

      deleteContent: function(el) {
        $(el).parents(".content").animate({
            opacity: 0,
            height: 0
          },
          function() {
            $(this).remove();
          }
        );
      },

      _createLoadingView: function(appendTo, cssClass) {
        var id = SM.newId();
        $(appendTo).append(Mustache.to_html(
            $("#template-loading").html(),
            {
              id: id,
              cssClass: cssClass || ""
            }
        ));
        return id;
      }
    }


*{ wtf feedback getting cached?! }*
%{ if (feedback?.imageKeys) { }%
    #{list items: feedback?.imageKeys, as: 'imageKey'}
       s.addEntry('${imageKey}');
    #{/list}
%{ } }%

  });

</script>


*{ loading view while we ask server for something }*
<script type="text/html" id="template-loading">
	<div class="{{cssClass}} content" id="{{id}}">
		<img src="@{'public/images/spinner.gif'}" />
	</div>
</script>

<script type="text/html" id="template-new-visual-uploader">
  <div class="visual content" id="{{id}}">
    <a href="#" onclick="SM.Spark.deleteContent(this);"><img src="@{'public/images/icons/silk/cancel.png'}" /></a>
    <form action="{{uploadTarget}}"
          method="POST"
          enctype="multipart/form-data"
          target="frame"
          onsubmit="return SM.Spark.onVisualFormSubmit('{{id}}');">
      <div class="input-wrapper"><input type="file" name="file" /></div>
      <input type="submit" value="Submit" />
    </form>
    <iframe style="display: none;" name="frame"></iframe>
  </div>
</script>