#{extends 'outsider.template.html' /}
#{set title:'About Sparkmuse' /}

<style type="text/css">
  .guide {
    width: 850px;
    height: 1236px;
    background: url("@{'/public/images/how-it-works.png'}") no-repeat;
  }
</style>

<div class="page-canvas push-1 prepend-1 span-20 append-1">

    <div class="breadcrumbs"><a href="@{Application.home()}">Home</a> &rsaquo; How It Works</div>

    <div class="title">
      <h2>How It Works</h2>
      <h3>
        Do you want a problem solved? Do you wish an app existed? Convince a community of entrepreneurs to build it just by telling them what you wish you had.
      </h3>
    </div>
    <hr/>

    <div class="guide">

    </div>

    <hr/>

    <h3>Frequently Asked Questions</h3>

    <section>
      <div>
        <em>Q:</em> How do I vote on ideas?
      </div>
      <div>
        <em>A:</em> Voting is committing to be a part of an idea in some form. In order to do so,
        we'll need your email address.
      </div>
    </section>
    <section>
      <div>
        <em>Q:</em> Who do you mean by commit?
      </div>
      <div>
        <em>A:</em> Commitments are giving permission to let entrepreneur's communicate their solution to you.
      </div>
    </section>
    <section>
      <div>
        <em>Q:</em> What will you do with my email address?
      </div>
      <div>
        <em>A:</em> We will never release or sell your email address. All communications to you have to come
        through us and will be vetted to make sure you're getting what you expect. The only exception is when
        you commit to a beta. In that case, we will send you an email with an opt-out option 24 hours before
        enrolling you.
      </div>
    </section>
    <section>
      <div>
        <em>Q:</em> What is a "Commit to See"?
      </div>
      <div>
        <em>A:</em> This is the simplist level of commitment. We let entrepreneurs send you one, and only one,
        email to show you their product solving your problem.
      </div>
    </section>
    <section>
      <div>
        <em>Q:</em> What is a "Commit to Try"?
      </div>
      <div>
        <em>A:</em> If you choose this commitment, we will automatically enroll you into the beta of any product
        which solves your problem. Before releasing your email address, we will send you an email to allow you
        to opt-out 24 hours before.
      </div>
    </section>
    <section>
      <div>
        <em>Q:</em> What is a "Commit to Survey"?
      </div>
      <div>
        <em>A:</em> You want to make sure a solution gets built the right way. Surveys are a way entrepreneurs
        can poll their prospective users to learn more about the nature of the problem they are solving.
      </div>
    </section>
    <section>
      <div>
        <em>Q:</em> What is a "Commit to Buy"?
      </div>
      <div>
        <em>A:</em> You needed this solved like yesterday. You want it so bad that you're confident you'd be
        willing to pay a fair price to get it. This level of commitment shows entrepreneurs how serious you are
        and that they have the best chance of building a stable business around you.
      </div>
    </section>

</div>