#{extends 'outsider.template.html' /}
#{set title:'How it Works' /}

<style type="text/css">
  .guide {
    width: 850px;
    height: 1236px;
    background: url("@{'/public/images/how-it-works.png'}") no-repeat;
  }
</style>

<div class="page-canvas push-1 prepend-1 span-20 append-1 last">

    <div class="breadcrumbs"><a href="@{Application.home()}">Home</a> &rsaquo; How It Works</div>

    <div class="title">
      <h2>How It Works</h2>
      <h3>
        Do you want a problem solved? Do you wish an app existed? Convince a community of entrepreneurs to build it just by telling them what you wish you had.
      </h3>
    </div>
    <hr/>

    <div class="guide">

    </div>

    <hr/>

    <div class="span-10 colborder">
      <h3>About the Foundry</h3>

      <p>
        The Foundry is a place where you can open your ideas up to the world and see who
        else wants it to be solved. We'll help you spread your idea and see who else commits
        to it. What is a commitment? Simply put, we'll add your email to a private list so
        you can get the inside scoop on entrepreneurs whom are solving the problem.
      </p>

      <p>
        We want to kill two birds with one stone here. Entrepreneurs take on some huge risks
        when they embark on creating a new product or service. They can only make an educated
        guess that what they are building is useful. In the startup game, we call this "market
        validation."
      </p>

      <p>
        On a personal level, we all have problems we need solved. Wouldn't it be great if
        we had our own swat team of problem solvers working on our behalf? When we come
        together, we can show an entrepreneur that the idea already has a market waiting for it.
        This removes the biggest risk for them to get started and means we have helped to
        both start a new business and get our own backs scratched. 
      </p>

      <h3>How to Make Your Case</h3>

      <p>Want to make your idea shine? Here's how it's done.</p>

      <em>Give It a Descriptive Name:</em>
      <p>Pantry Helper for Diabetics</p>

      <em>Tell a Story or Give an Example:</em>
      <p>
        Sue, a sweet lady recently diagnosed with diabetes, comes home from a long day at
        work and looks at her pantry in fear. Is there anything she can eat? Everything
        she knows about food has just gone out the window, and she's afraid to make mistakes.
      </p>

      <p>
        Sue goes on the internet to look for help. Surely there's a guide to eating for diabetics,
        something with quick rules that she can follow. Something that will make her pantry
        make sense. But nothing gives her what she needs. There has to be an easier way to do this.
      </p>

      <em>Hone in On the Problem:</em>
      <p>
        We need something that helps Sue make sense of her pantry. What if there was an app
        that takes your list of foods from your pantry and suggests a meal for diabetics? Plus
        gives you quick rules for eating and a list of foods to avoid.
      </p>

      <em>The Extra Mile:</em>
      <p>
        What if the app could let you scan the bar codes from the pantry items rather than making
        you type them in? Or there was a website with rules and recipes you could print out? The
        pantry helper for diabetics needs to be helpful, easy to get to, and easy to use.
      </p>

      <em>Now, Tag It:</em>
      <p>Diabetes Food App Easy</p>

    </div>

    <div class="last">
      <h3>Frequently Asked Questions</h3>
      <section>
        <div>
          <em>Q:</em> How do I vote on ideas?
        </div>
        <div>
          <em>A:</em> Voting is committing to be a part of an idea in some form. In order to do so,
          we'll need your email address.
        </div>
      </section>
      <section>
        <div>
          <em>Q:</em> Who do you mean by commit?
        </div>
        <div>
          <em>A:</em> Commitments are giving permission to let entrepreneurs communicate their solution to you.
        </div>
      </section>
      <section>
        <div>
          <em>Q:</em> What will you do with my email address?
        </div>
        <div>
          <em>A:</em> We will never release or sell your email address. All communications to you have to come
          through us and will be vetted to make sure you're getting what you expect. The only exception is when
          you commit to a beta. In that case, we will send you an email with an opt-out option 24 hours before
          enrolling you.
        </div>
      </section>
      <section>
        <div>
          <em>Q:</em> What is a "Commit to See"?
        </div>
        <div>
          <em>A:</em> This is the simplist level of commitment. We let entrepreneurs send you one, and only one,
          email to show you their product solving your problem.
        </div>
      </section>
      <section>
        <div>
          <em>Q:</em> What is a "Commit to Try"?
        </div>
        <div>
          <em>A:</em> If you choose this commitment, we will automatically enroll you into the beta of any product
          which solves your problem. Before releasing your email address, we will send you an email to allow you
          to opt-out 24 hours before.
        </div>
      </section>
      <section>
        <div>
          <em>Q:</em> What is a "Commit to Survey"?
        </div>
        <div>
          <em>A:</em> You want to make sure a solution gets built the right way. Surveys are a way entrepreneurs
          can poll their prospective users to learn more about the nature of the problem they are solving.
        </div>
      </section>
      <section>
        <div>
          <em>Q:</em> What is a "Commit to Buy"?
        </div>
        <div>
          <em>A:</em> You needed this solved like yesterday. You want it so bad that you're confident you'd be
          willing to pay a fair price to get it. This level of commitment shows entrepreneurs how serious you are
          and that they have the best chance of building a stable business around you.
        </div>
      </section>
    </div>

</div>