#{extends "bodytemplate.html" /}
#{set title:'Sparkmuse, a community to discuss, refine, and act on innovative tech ideas.' /}
#{set nav:'FOUNDRY' /}

<link rel="stylesheet" href="@{'/public/stylesheets/Foundry/index-1.css'}" type="text/css" />
<link rel="stylesheet" href="@{'/public/stylesheets/Foundry/view-1.css'}" type="text/css" />


<div class="page-canvas prepend-1 span-22 append-1">

  <div class="span-14 first">

    <div class="breadcrumbs"><a href="@{Foundry.index()}">Foundry</a> &rsaquo; Problem</div>

    <div class="sidebox wishbox">

      <h2>
        <a href="@{Foundry.view(wishResponse.wish.id)}">${wishResponse.wish.title}</a>
      </h2>

      <p>
        <em>Last updated ${wishResponse.wish.edited.format()} -</em>
        ${wishResponse.wish.description}
      </p>

      <div class="details">
        <span class="detail">By #{nameTag user: wishResponse.wish.author /}</span>
        <span class="detail comment">${wishResponse.wish.commentCount} Comment${wishResponse.wish.commentCount.pluralize()}</span>
        <span class="detail facebook">
          <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.sparkmuse.com&layout=button_count&show_faces=false&width=80;&action=like&font&colorscheme=light&height=20"
              scrolling="no"
              frameborder="0"
              style="border:none; width: 80px; height: 20px; overflow:hidden;"></iframe>
        </span>
        <span class="detail twitter">
          <a href="http://twitter.com/share" class="twitter-share-button" data-text="Sparkmuse, a community to discuss, refine, and act on innovative tech ideas. http://sparkmuse.com @sparkmuse" data-count="horizontal" data-via="sparkmuse">Tweet</a>
        </span>
      </div>

    </div>

    <div class="comments-panel-wrapper wrapper last">
    <div class="comments-panel inner">

      <div id="comments-container">

        #{list items: wishResponse.comments, as: "comment"}
          comment
        #{/list}

        #{if wishResponse.comments?.size() == 0}
          <div id="no-posts">
            <em>No Comments</em>
            <a href="#" onclick="SM.Spark.newReply(); $('#no-posts').remove();">Be the first!</a>
          </div>
        #{/if}

      </div>

    </div>
    </div>

  </div>

  <div class="span-8 last">

    <div class="sidebar">

      <div class="takers">
        <span class="count">${wishResponse.wish.votes}</span> Taker${wishResponse.wish.votes.pluralize()}
      </div>

      <ol class="controls">
        <li>
          <a href="#" class="button positive">
            <span>
              <img src="@{'public/images/icons/silk/add.png'}" alt="Comment" />
              Comment
            </span>
          </a>
        </li>
      </ol>

      <div commitmentType="SEE" class='big-button big-button-${wishResponse.hasCommittedToSee() ? "committed" : "uncommitted"} first'>
        <h4>Commit to See</h4>
        <p>You'd like to be notified when if this problem gets solved.</p>
        <div class="counter" count="${wishResponse.committedToSeeCount}">
          ${wishResponse.committedToSeeCount} Takers
        </div>
      </div>
      <div commitmentType="TRY" class='big-button big-button-${wishResponse.hasCommittedToTry() ? "committed" : "uncommitted"}'>
        <h4>Commit to Try</h4>
        <p>
          You're pretty sure you'd use a solution to this problem and want to be registered
          for any betas being offered for it.
        </p>
        <div class="counter" count="${wishResponse.committedToTryCount}">
          ${wishResponse.committedToTryCount} Takers
        </div>
      </div>
      <div commitmentType="SURVEY" class='big-button big-button-${wishResponse.hasCommittedToSurvey() ? "committed" : "uncommitted"}'>
        <h4>Commit to Survey</h4>
        <p>
          You'd be happy to give feedback or explain the problem in more depth to entrepreneurs
          trying to figure out how to solve this problem.
        </p>
        <div class="counter" count="${wishResponse.committedToSurveyCount}">
          ${wishResponse.committedToSurveyCount} Takers
        </div>
      </div>
      <div commitmentType="BUY" class='big-button big-button-${wishResponse.hasCommittedToBuy() ? "committed" : "uncommitted"} last'>
        <h4>Commit to Buy</h4>
        <p>
          You want this problem solved so badly that you'd be willing to pay for it to exist.
        </p>
        <div class="counter" count="${wishResponse.committedToBuyCount}">
          ${wishResponse.committedToBuyCount} Takers
        </div>
      </div>

    </div>
    
  </div>

  <div class="clear"></div>

</div>

<script type="text/javascript">

  $(document).ready(function(){

    $(".big-button").click(function() {
      var button = $(this);

      if (button.hasClass("big-button-uncommitted")) {
        //no existing commits, also increment takers
        if (!$(".big-button-committed").size()) {
          var totalTakers = $(".takers .count");
          totalTakers.html(parseInt(totalTakers.html()) + 1);
        }

        button.removeClass("big-button-uncommitted");
        button.addClass("big-button-committed");

        var counter = $(button).find(".counter");
        counter.html(parseInt(counter.attr("count")) + 1 + " Takers");

        $.post(
          "@{Foundry.commit()}",
          {
            wishId: ${wishResponse.wish.id},
            commitmentType: button.attr("commitmentType")
          }
        );
      }
    });

  });

</script>