#{extends "bodytemplate.html" /}
#{set title:'Sparkmuse, a community to discuss, refine, and act on innovative tech ideas.' /}
#{set nav:'FOUNDRY' /}

<link rel="stylesheet" href="@{'/public/stylesheets/Foundry/index-1.css'}" type="text/css" />
<link rel="stylesheet" href="@{'/public/stylesheets/Foundry/view-1.css'}" type="text/css" />


<div class="page-canvas prepend-1 span-22 append-1">

  <div class="span-14 first">

    <div class="breadcrumbs"><a href="@{Foundry.index()}">Foundry</a> &rsaquo; Problem</div>

    <div class="sidebox wishbox">

      <h2>
        <a href="@{Foundry.view(wishResponse.wish.id)}">${wishResponse.wish.title}</a>
      </h2>

      <p>
        <em>Last updated ${wishResponse.wish.edited.format()} -</em>
        ${wishResponse.wish.description}
      </p>

      <div class="details">
        <span class="detail">By #{nameTag user: wishResponse.wish.author /}</span>
        <span class="detail comment">${wishResponse.wish.commentCount} Comment${wishResponse.wish.commentCount.pluralize()}</span>
        <span class="detail facebook">
          <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.sparkmuse.com&layout=button_count&show_faces=false&width=80;&action=like&font&colorscheme=light&height=20"
              scrolling="no"
              frameborder="0"
              style="border:none; width: 80px; height: 20px; overflow:hidden;"></iframe>
        </span>
        <span class="detail twitter">
          <a href="http://twitter.com/share" class="twitter-share-button" data-text="Sparkmuse, a community to discuss, refine, and act on innovative tech ideas. http://sparkmuse.com @sparkmuse" data-count="horizontal" data-via="sparkmuse">Tweet</a>
        </span>
      </div>

    </div>

    <div class="comments-panel-wrapper wrapper last">
    <div class="comments-panel inner">

      <div id="comments-container">

        #{list items: wishResponse.comments, as: "comment"}
          #{comment comment: comment, userVotes: wishResponse.userVotes /}
        #{/list}

        #{if wishResponse.comments?.size() == 0}
          <div id="no-posts">
            <em>No Comments</em>
            <a href="#" onclick="SM.Wish.newReply(); $('#no-posts').remove();">Be the first!</a>
          </div>
        #{/if}

      </div>

    </div>
    </div>

  </div>

  <div class="span-8 last">

    <div class="sidebar">

      <div class="takers">
        <span class="count">${wishResponse.wish.votes}</span> Taker${wishResponse.wish.votes.pluralize()}
      </div>

      #{if currentUser}
        <ol class="controls">
          <li>
            <a href="#" onclick="SM.Wish.newReply()" class="button positive">
              <span>
                <img src="@{'public/images/icons/silk/add.png'}" alt="Comment" />
                Comment
              </span>
            </a>
          </li>
          #{if currentUser?.equals(wishResponse.wish.author) || currentUser?.isAdmin()}
          <li>
            <a href="@{Foundry.edit(wishResponse.wish.id)}" class="button create-spark">
              <span>
                <img src="@{'public/images/icons/silk/asterisk_yellow.png'}" alt="Edit Idea"/>
                Edit Idea
              </span>
            </a>
          </li>
          #{/if}
        </ol>
      #{/if}
      #{else}
        <div class="sidebox">
          <h4>Login to Comment</h4>
          <ol class="controls">
            <li>
              <a href="#" class="button">
                <span>Sign Up</span>
              </a>
            </li>
            <li>
              <a href="#" class="button">
                <span>Login</span>
              </a>
            </li>
          </ol>
        </div>
      #{/else}

      %{
        committedToSeeCount = wishResponse.committedToSeeCount
        committedToTryCount = wishResponse.committedToTryCount
        committedToSurveyCount = wishResponse.committedToSurveyCount
        committedToBuyCount = wishResponse.committedToBuyCount
      }%
      <div commitmentType="SEE" title="#{foundry/voteTooltip currentUserProfile /}"
           class='big-button #{if currentUserProfile?.canVoteOnFoundry()}big-button-${wishResponse.hasCommittedToSee() ? "committed" : "uncommitted"}#{/if} first'>
        <h4>Commit to See</h4>
        <p>You'd like to be notified when if this problem gets solved.</p>
        <div class="counter" count="${committedToSeeCount}">
          #{if wishResponse.hasCommittedToSee()}
            You and ${committedToSeeCount - 1} other Taker${(committedToSeeCount - 1).pluralize()}
          #{/if}
          #{else}
            ${committedToSeeCount} Taker${committedToSeeCount.pluralize()}
          #{/else}
        </div>
      </div>
      <div commitmentType="TRY" title="#{foundry/voteTooltip currentUserProfile /}"
           class='big-button #{if currentUserProfile?.canVoteOnFoundry()}big-button-${wishResponse.hasCommittedToTry() ? "committed" : "uncommitted"}#{/if}'>
        <h4>Commit to Try</h4>
        <p>
          You're pretty sure you'd use a solution to this problem and want to be registered
          for any betas being offered for it.
        </p>
        <div class="counter" count="${committedToTryCount}">
          #{if wishResponse.hasCommittedToTry()}
            You and ${committedToTryCount - 1} other Taker${(committedToTryCount - 1).pluralize()}
          #{/if}
          #{else}
            ${committedToTryCount} Taker${committedToTryCount.pluralize()}
          #{/else}
        </div>
      </div>
      <div commitmentType="SURVEY" title="#{foundry/voteTooltip currentUserProfile /}"
           class='big-button #{if currentUserProfile?.canVoteOnFoundry()}big-button-${wishResponse.hasCommittedToSurvey() ? "committed" : "uncommitted"}#{/if}'>
        <h4>Commit to Survey</h4>
        <p>
          You'd be happy to give feedback or explain the problem in more depth to entrepreneurs
          trying to figure out how to solve this problem.
        </p>
        <div class="counter" count="${wishResponse.committedToSurveyCount}">
          #{if wishResponse.hasCommittedToSurvey()}
            You and ${committedToSurveyCount - 1} other Taker${(committedToSurveyCount - 1).pluralize()}
          #{/if}
          #{else}
            ${committedToSurveyCount} Taker${committedToSurveyCount.pluralize()}
          #{/else}
        </div>
      </div>
      <div commitmentType="BUY" title="#{foundry/voteTooltip currentUserProfile /}"
           class='big-button #{if currentUserProfile?.canVoteOnFoundry()}big-button-${wishResponse.hasCommittedToBuy() ? "committed" : "uncommitted"}#{/if} last'>
        <h4>Commit to Buy</h4>
        <p>
          You want this problem solved so badly that you'd be willing to pay for it to exist.
        </p>
        <div class="counter" count="${wishResponse.committedToBuyCount}">
          #{if wishResponse.hasCommittedToBuy()}
            You and ${committedToBuyCount - 1} other Taker${(committedToBuyCount - 1).pluralize()}
          #{/if}
          #{else}
            ${committedToBuyCount} Taker${committedToBuyCount.pluralize()}
          #{/else}
        </div>
      </div>

    </div>
    
  </div>

  <div class="clear"></div>

</div>

<script type="text/javascript">

  $(document).ready(function(){

    $(".big-button").click(function() {
      var button = $(this);

      if (button.hasClass("big-button-uncommitted")) {
        //no existing commits, also increment takers
        if (!$(".big-button-committed").size()) {
          var totalTakers = $(".takers .count");
          totalTakers.html(parseInt(totalTakers.html()) + 1);
        }

        button.removeClass("big-button-uncommitted");
        button.addClass("big-button-committed");

        var counter = $(button).find(".counter"),
            count = parseInt(counter.attr("count"));
        counter.html("You and " + count + " other Taker" + (1 !== count ? "s" : ""));

        $.post(
          "@{Foundry.commit()}",
          {
            wishId: ${wishResponse.wish.id},
            commitmentType: button.attr("commitmentType")
          }
        );
      }
    });

    var s = SM.Wish = {

      converter: new Attacklab.showdown.converter(),

      replyMode: false,

      endReply: function() {
        if (s.replyMode) {
          s.replyMode = false;

          //clean up
          $(document.Reply).unbind();
          $("#new-reply textarea").unbind();

          //remove
          $("#new-reply").remove();
        }
      },

      newReply: function(inReplyToId) {
        if (!s.replyMode) {
          s.replyMode = true;

          $('#no-posts').remove();

          var replyForm = Mustache.to_html($("#template-reply").html(), {
            isRootPost: !inReplyToId
          });
          if (!inReplyToId) {
            $("#comments-container").prepend(replyForm);
          }
          else {
            $(".comment[post=" + inReplyToId + "] > .replies").append(replyForm);
          }

          var newReply = $("#new-reply");
          if (newReply.offset().top > $(window).height()) {
            $(document.body).animate({scrollTop: newReply.offset().top}, "fast");
          }

          var reply = document.Reply;
          $(reply).formHandler(function(){
            return {
              comment: {
                wishId: "${wishResponse.wish.id}",
                content: this.content.value,
                displayContent: s.converter.makeHtml(this.content.value)
              },
              _fragment: function(r) {
                if (r.fragment) {
                  $("#comments-container").prepend(r.fragment);
                }
              }

            }
          }).bind(SM.Events.Submit, SM.formSubmitModal)
            .bind(SM.Events.SubmitEnd, SM.formSubmitModalClose)
            .bind(SM.Events.SubmitEnd, s.endReply);
        }
        else {
          alert("Finish current reply");
        }
      },

      _startReplyIfNotStarted: function() {
        if (!s.replyMode) {
          s.newReply();
        }
      },

      deleteContent: function(el) {
        $(el).parents(".content").animate({
            opacity: 0,
            height: 0
          },
          function() {
            $(this).remove();
          }
        );
      }
    }

  });

</script>

<script type="text/html" id="template-reply">

  <div class="new-reply-wrapper" id="new-reply">

    <form name="Reply" method="POST" action="@{Foundry.reply()}">
      <div class="comment">
        <div class="author">
          <cite>
            #{nameTag user:currentUser /}
          </cite>
        </div>
        <blockquote>
          <label>Comment #{markdownEnabled /}</label>
          <div class="error-message" parameter="wish.displayContent"></div>
          <div class="input-wrapper"><textarea name="content"></textarea></div>
        </blockquote>
      </div>
    </form>

    <div class="control-bar">
      <div class="controls">
        <a href="#" onclick="$(document.Reply).submit();" class="button positive">
          <span>
            <img src="@{'public/images/icons/silk/accept.png'}" alt="Submit Reply" />
            Submit
          </span>
        </a>
        <a href="#" onclick="SM.Wish.endReply();" class="button negative">
          <span>
            <img src="@{'public/images/icons/silk/cancel.png'}" alt="Cancel" />
            Cancel
          </span>
        </a>
      </div>
      <div class="clear"></div>
    </div>

  </div>

</script>