<div style="width: 600px; font-size: 14px; font-family: Helvetica, sans">
  <table>
    <tr>
      <td>
        <img src="@@{'/public/images/logocomplete_v2.png'}" alt="Sparkmuse" />
      </td>
      <td style="text-align: right;">
        Invitation
      </td>
    </tr>
  </table>
  <div style="border-bottom: 1px dotted #d1d1d1;margin-bottom: 1em;"></div>
  <div style="font-size: 16px;margin-bottom: 1em;">
    Hello ${update.updateeName},
  </div>

  <p style="margin-bottom: 1em;">
    ${update.inviter} has given you one of their invitations to <a href="http://www.sparkmuse.com">Sparkmuse</a>!
    We're excited to have you and look forward to hearing your ideas.
  </p>

  <p style="margin-bottom: 1em;">
    Please take a moment to check out our <a href="http://www.sparkmuse.com/about">about</a> and
    <a href="http://www.sparkmuse.com/guidelines">guidelines</a> pages to get up to speed
    about our community.  And don't forget to fill out your profile, it will only take a
    couple minutes and we promise it will be worth your while!
  </p>

  <div style="margin-bottom: 1em;">
    Thanks, <br/>
    Sparkmuse
  </div>

  <div style="font-size: 10px; color: #666;">
    You received this email because you added your email address when applying to Sparkmuse.
    You can stop any email correspondance by removing your email address from your profile.
  </div>
</div>