$LOGO_LIGHT_YELLOW: #fdf9d2;
$LOGO_YELLOW: #f5e21f;
$LOGO_DARK_YELLOW: #FFC91F;
$LOGO_BLUE: #69D2E7;
$LOGO_LIGHT_BLUE: #A7DBD8;
$LOGO_DARK_BLUE: #007160;
$LOGO_ORANGE: #FA6900;
$LOGO_LIGHT_ORANGE: #F38630;
$COLOR_NEUTRAL: #E0E4CC;
$COLOR_LIGHT_NEUTRAL: #fefffa;
$COLOR_DARK_NEUTRAL: #fefffa;

$FONT_FAMILY_TITLE: "Tahoma", "Geneva", sans-serif;
$FONT_FAMILY_CONTROLS: "Tahoma", "Geneva", sans-serif;
$FONT_FAMILY_STANDARD: "Palatino Linotype", "Book Antiqua", "Palatino", serif;

.page-title h2 { display: inline-block; }

.spark-info-wrapper {
  background-color: $COLOR_NEUTRAL;
  border-right: 1px solid #999;
  box-shadow: 1px 0px 3px #b2b2b2;
}

  .spark-info {
    background: url("../../images/textures/circles.png");
    padding-right: 1em;
    padding-left: 1em;
  }

.comments-panel-wrapper {
  margin-left: 350px;
}

  .comments-panel-wrapper .header-wrapper {
    border-bottom: 1px solid $COLOR_NEUTRAL;
    margin-bottom: 1em;
  }

  .comments-panel-wrapper .header-wrapper .button {
    margin: 1px 1px 0 0;
    float: right;
  }

  .comments-panel-wrapper .header-wrapper .header {
    border-bottom: 4px solid $LOGO_LIGHT_BLUE;
  }

    .comments-panel-wrapper .header-wrapper .header h3 {
      padding-left: 40px;
      background: url("../../images/comment.png") 0 50% no-repeat;
      height: 32px;
      line-height: 32px;
      margin-bottom: 0.2em;
    }

  .comments-panel {
    padding-right: 1em;
  }

  .comment {}

  .comment .replies { margin-left: 1em; padding-left: 1em; border-left: 2px solid #f1f1f1; }

    .comment .author {
      position: relative;
      bottom: -1px;
      display: block;
      padding: 0 0 14px 4px;
      font-size: 12px;
      line-height: 24px;
      height: 24px;
      background: url("../../images/comment_hook.png") 36px 28px no-repeat;
    }

      .comment .author cite {
        display: inline-block;
        font-style: normal;
      }

      .comment .author .likes {
        margin-right: 8px;
        height: 24px;
        background-position: 0 4px;
        display: block;
        float: left;
      }

      .comment .author .button {
        margin: 1px 1px 0 0;
        float: right;
      }


    .comment blockquote {
      border: 1px solid #c9c2c1;
      padding: 0.5em 0.8em;
      margin-bottom: 1em; 
      background-color: white;

      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;

      -moz-box-shadow: 1px 1px 1px #b2b2b2;
      -webkit-box-shadow: 1px 1px 1px #b2b2b2;
      box-shadow: 1px 1px 1px #b2b2b2;

      font-family: $FONT_FAMILY_STANDARD;
    }


      .comment blockquote textarea { width: 613px; height: 100px; }

  #new-reply .comment blockquote { margin-bottom: 0; }

.control-bar { line-height: 24px; }
  .control-bar .attachments { display: inline-block; }
  .control-bar .attachments a { vertical-align: middle; }
  .control-bar .controls { float: right; }

#rss-link {
  text-indent: -9999px;
  float: right;
  background-image: url("../../images/landing-sprite.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  display: block;

  background-position: -1200px 0;
}

  #rss-link:hover, #rss-link.selected {
    background-position: -1050px 0;
  }