#{extends 'bodytemplate.html' /}
#{set title:'Sparkmuse, A community to discuss, refine, and act on innovative tech ideas.' /}

<style type="text/css">
  .page-title {
    height: 50px;
    text-indent: -9999px;
  }

    .page-title h1 {
      background: url("@{'public/images/landing-sprite.png'}") 0 0 no-repeat;
      width: 150px;
    }

    .page-title a {
      float: right;
      background-image: url("@{'public/images/landing-sprite.png'}");
      background-repeat: no-repeat;
      width: 150px;
      height: 50px;
      display: block;
    }

      a#recent-link {
        background-position: -150px 0;
      }

      a#discussed-link {
        background-position: -300px 0;
      }

      a#popular-link {
        background-position: -450px 0;
      }

      a#rss-link {
        background-position: -1200px 0;
      }

      a#twitter-link {
        background-position: -1350px 0;
      }

      a#recent-link:hover, a#recent-link.selected {
        background-position: -600px 0;
      }

      a#discussed-link:hover, a#discussed-link.selected {
        background-position: -750px 0;
      }

      a#popular-link:hover, a#popular-link.selected {
        background-position: -900px 0;
      }

      a#rss-link:hover, a#rss-link.selected {
        background-position: -1050px 0;
      }

  .spark-wrapper {
    width: 100%;
    padding: 0 10px 10px 0;
  }

  .spark {
    color: #666666;
    border: 1px solid #999999;
    border-bottom-width: 2px;
    padding: 4px 8px;
    cursor: pointer;
    background: white url("@{'/public/images/gradients/trans_to_gray.png'}") bottom left repeat-x;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

  .spark:hover {
    color: black;
    background: white;
  }

    .spark .votes {
      float: left;
    }

    .spark .stage {
      float: right;
    }

    .spark h2 {
      font-size: 16px;
    }

  <!-- side bar content frame -->

  .clockframe-container {
    position: absolute;
    cursor: move;
    z-index: 6;
    bottom: 50px;
    left: 15%;
  }
  .clockframe {
    border-width: 80px 15px 10px 15px;
    -moz-border-image: url("@{'public/images/content-box.png'}") 102 53 26 48;
    -webkit-border-image: url("@{'public/images/content-box.png'}") 102 53 26 48;
    border-image: url("@{'public/images/content-box.png'}") 102 53 26 48;
  }
  .clockframe-content {
    margin-top: -15px;
    padding: 0 8px;
    text-align: justify;
  }
    .clockframe-content h2 {
      background: url("@{'public/images/welcome.png'}") no-repeat;
      display: block;
      height: 30px;
      width: 120px;
      margin-bottom: 5px;
      text-indent: -9999px;
    }

    .clockframe-content .buttons { padding: 0 0 0 70px;}


</style>

<div class="page-title prepend-1 span-22 append-1">

  <div class="span-14">
    <a href="@{Home.index("DISCUSSED")}" id="discussed-link" class='${"DISCUSSED".equalsIgnoreCase(sparkSearch.filter.toString()) ? "selected" : ""}'>Discussed</a>
    <a href="@{Home.index("POPULAR")}" id="popular-link" class='${"POPULAR".equalsIgnoreCase(sparkSearch.filter.toString()) ? "selected" : ""}'>Popular</a>
    <a href="@{Home.index("RECENT")}" id="recent-link" class='${"RECENT".equalsIgnoreCase(sparkSearch.filter.toString()) ? "selected" : ""}'>Recent</a>
    <h1>Sparks</h1>
  </div>
  <div class="span-8 last">
    <a href="" id="rss-link" title="Subscribe">Subscribe</a>
    <a href="#" id="twitter-link" title="Twitter subscription coming soon...">Follow</a>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1">

  <div class="span-14">

    #{list items: sparkSearch.sparks, as: 'spark'}
    <a href="/spark/view">
    <div class="spark-wrapper">
      <div class="spark">
        <div class="stage caps">${spark.stage}</div>
        <div class="votes">${spark.votes}</div>
        <h3>${spark.title}</h3>
        <div class="alt">Posted ${spark.created} by #{nameTag user: spark.author /}</div>
        <div class="tags">#{list items: spark.tags, as: 'tag'}<a href="#" class="tag-link">${tag}</a>#{/list}</div>
        <div class="clear"></div>
      </div>
    </div>
    </a>
    #{/list}

  </div>

  <div class="span-8 last">
    <div class="clockframe-container">
      <div class="clockframe">
        <div class="clockframe-content">
          <div>
            <h2>Welcome</h2>
            <p>
              Sparkmuse is an invite-only community where <strong>entrepreneurial technologists can share and refine
              innovative ideas</strong> with
              one another.
              If you'd like to learn more, please check out our <a href="http://blog.sparkmuse.com/">blog</a>.
              We're still in private alpha testing, but
              <a href="http://sparkmuse.wufoo.com/forms/thank-you-for-giving-us-your-input/">we'd love to hear about what you think</a>!
            </p>
          </div>
          <div class="buttons">
            <a class="button create-spark" href="/spark/create">
              <span>
                <img src="@{'public/images/icons/silk/asterisk_yellow.png'}" alt=""/>
                Create Spark
              </span>
            </a>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>

</div>