#{extends 'bodytemplate.html' /}
#{set title:'Sparkmuse, a community to discuss, refine, and act on innovative tech ideas.' /}
#{set nav:'SPARKS' /}

<link rel="stylesheet" href="@{'/public/stylesheets/Home/sparklist.css'}" type="text/css" />

<style type="text/css">
  .page-title {
    height: 50px;
    text-indent: -9999px;
  }

    .page-title h1 {
      background: url("@{'public/images/landing-sprite.png'}") 0 0 no-repeat;
      width: 150px;
    }

    .page-title a {
      float: right;
      background-image: url("@{'public/images/landing-sprite.png'}");
      background-repeat: no-repeat;
      width: 150px;
      height: 50px;
      display: block;
    }

      a#recent-link {
        background-position: -150px 0;
      }

      a#discussed-link {
        background-position: -300px 0;
      }

      a#popular-link {
        background-position: -450px 0;
      }

      a#rss-link {
        background-position: -1200px 0;
      }

      a#twitter-link {
        background-position: -1350px 0;
      }

      a#recent-link:hover, a#recent-link.selected {
        background-position: -600px 0;
      }

      a#discussed-link:hover, a#discussed-link.selected {
        background-position: -750px 0;
      }

      a#popular-link:hover, a#popular-link.selected {
        background-position: -900px 0;
      }

      a#rss-link:hover, a#rss-link.selected {
        background-position: -1050px 0;
      }

  <!-- side bar content frame -->

  .clockframe-container {
  }
  .clockframe {
    border-width: 80px 15px 10px 15px;
    -moz-border-image: url("@{'public/images/content-box.png'}") 102 53 26 48;
    -webkit-border-image: url("@{'public/images/content-box.png'}") 102 53 26 48;
    border-image: url("@{'public/images/content-box.png'}") 102 53 26 48;
    margin-bottom: 1em;
  }
  .clockframe-content {
    margin-top: -15px;
    padding: 0 8px;
    text-align: center;
  }
    .clockframe-content h2 {
      background: url("@{'public/images/welcome.png'}") center center no-repeat;
      display: block;
      height: 30px;
      margin-bottom: 5px;
      text-indent: -9999px;
    }

    .clockframe-content .buttons {
      height: 50px;
      background: url("@{'/public/images/hand.png'}") 30px 50% no-repeat;
      padding: 0 0 0 90px;
    }

</style>

<div class="page-title prepend-1 span-22 append-1">

  <div class="span-14 first">
    <a href="@{Home.search("DISCUSSED", 1)}" id="discussed-link" class='${"DISCUSSED".equalsIgnoreCase(filter.toString()) ? "selected" : ""}'>Discussed</a>
    <a href="@{Home.search("POPULAR", 1)}" id="popular-link" class='${"POPULAR".equalsIgnoreCase(filter.toString()) ? "selected" : ""}'>Popular</a>
    <a href="@{Home.search("RECENT", 1)}" id="recent-link" class='${"RECENT".equalsIgnoreCase(filter.toString()) ? "selected" : ""}'>Recent</a>
    <h1>Sparks</h1>
  </div>
  <div class="span-8 last">
    <a href="" id="rss-link" title="Subscribe (not implemented)">Subscribe</a>
    <a href="#" id="twitter-link" >Follow</a>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1">

  <div class="span-14 first">

    <div class="sparks-wrapper">

      <hr/>

      #{list items: sparks, as: 'spark'}
        #{sparkInfo spark: spark, userVotes: userVotes /}
      #{/list}

      #{if pagingState.currentPage() > 1}
        <a href="@{Home.search(filter, pagingState.currentPage() - 1)}">Previous</a>
      #{/if}
      #{if pagingState.currentPage() > 1 && pagingState.hasMorePages()} | #{/if}
      #{if pagingState.hasMorePages()}
        <a href="@{Home.search(filter, pagingState.currentPage() + 1)}">Next</a>
      #{/if}

    </div>

  </div>

  <div class="span-8 last">

    <div class="clockframe-container">
      <div class="clockframe">
        <div class="clockframe-content">
          <div>
            <h2>Welcome</h2>
            <p>
              Share your ideas and insights with us!
            </p>
          </div>
          <div class="buttons">
            <a class="button create-spark" href="/spark/create">
              <span>
                <img src="@{'public/images/icons/silk/asterisk_yellow.png'}" alt=""/>
                Create Spark
              </span>
            </a>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>

    #{include "standardBlurbs.html" /}

  </div>

  <div class="clear"></div>

</div>