#{extends 'bodytemplate.html' /}
#{set title:'Sparkmuse, A community to discuss, refine, and act on innovative tech ideas.' /}

<style type="text/css">
  .page-title {
    height: 50px;
    text-indent: -9999px;
  }

    .page-title h1 {
      background: url("@{'public/images/landing-sprite.png'}") 0 0 no-repeat;
      width: 150px;
    }

    .page-title a {
      float: right;
      background-image: url("@{'public/images/landing-sprite.png'}");
      background-repeat: no-repeat;
      width: 150px;
      height: 50px;
      display: block;
    }

      a#recent-link {
        background-position: -150px 0;
      }

      a#discussed-link {
        background-position: -300px 0;
      }

      a#popular-link {
        background-position: -450px 0;
      }

      a#rss-link {
        background-position: -1200px 0;
      }

      a#twitter-link {
        background-position: -1350px 0;
      }

      a#recent-link:hover, a#recent-link.selected {
        background-position: -600px 0;
      }

      a#discussed-link:hover, a#discussed-link.selected {
        background-position: -750px 0;
      }

      a#popular-link:hover, a#popular-link.selected {
        background-position: -900px 0;
      }

      a#rss-link:hover, a#rss-link.selected {
        background-position: -1050px 0;
      }

  .sparks-wrapper {
    width: 100%;
    /*padding: 0 10px 10px 0;*/

  }

  .spark {
    color: #666666;
  }

  .spark:hover { background-image: none; }

  .spark-inner {
    margin-right: 115px;
    padding: 0 0 0 10px;
  }

    .spark .stage {
      float: right;
      text-indent: -9999px;
      width: 48px;
      height: 48px;
    }

    .spark h3 {
      font-size: 1.5em;
      margin-bottom: 8px;
    }

    .spark .alt {
      font-size: 14px;
    }

    .spark .details {
      width: 75px;
      vertical-align: top;
      float: right;
      margin: 0 0 0 20px;
      padding: 0 0 0 20px;
      background: transparent;
      text-align: left;
      border-left: 1px solid rgba(0,0,0,0.1);
      line-height: 24px;
    }

      .spark .details .comments {
        display: inline-block;
        padding-left: 20px;
        background: url("@{'/public/images/icons/silk/comments_faded.png'}") no-repeat;
      }

      .spark .details .likes {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
      }

    .spark .alt {
      margin-bottom: 8px;
    }

    .spark .tags {
      margin-bottom: 8px;
    }

  <!-- side bar content frame -->

  .clockframe-container {
  }
  .clockframe {
    border-width: 80px 15px 10px 15px;
    -moz-border-image: url("@{'public/images/content-box.png'}") 102 53 26 48;
    -webkit-border-image: url("@{'public/images/content-box.png'}") 102 53 26 48;
    border-image: url("@{'public/images/content-box.png'}") 102 53 26 48;
    margin-bottom: 1em;
  }
  .clockframe-content {
    margin-top: -15px;
    padding: 0 8px;
  }
    .clockframe-content h2 {
      background: url("@{'public/images/welcome.png'}") no-repeat;
      display: block;
      height: 30px;
      width: 120px;
      margin-bottom: 5px;
      text-indent: -9999px;
    }

    .clockframe-content .buttons { padding: 0 0 0 70px;}


</style>

<div class="page-title prepend-1 span-22 append-1">

  <div class="span-14">
    <a href="@{Home.search("DISCUSSED")}" id="discussed-link" class='${"DISCUSSED".equalsIgnoreCase(sparkSearch.filter.toString()) ? "selected" : ""}'>Discussed</a>
    <a href="@{Home.search("POPULAR")}" id="popular-link" class='${"POPULAR".equalsIgnoreCase(sparkSearch.filter.toString()) ? "selected" : ""}'>Popular</a>
    <a href="@{Home.search("RECENT")}" id="recent-link" class='${"RECENT".equalsIgnoreCase(sparkSearch.filter.toString()) ? "selected" : ""}'>Recent</a>
    <h1>Sparks</h1>
  </div>
  <div class="span-8 last">
    <a href="" id="rss-link" title="Subscribe (not implemented)">Subscribe</a>
    <a href="#" id="twitter-link" >Follow</a>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1">

  <div class="span-14">

    <div class="sparks-wrapper">

      <hr/>

      #{list items: sparkSearch.sparks, as: 'spark'}
      <div class='spark spark-${spark.stage.toWords().toLowerCase()}'>


          <div class="details progress-${spark.stage.toWords().toLowerCase()}">
            ${spark.stage.toWords()} <br/>
            #{likeButton votable: spark, userVotes: userVotes, size: "medium" /} <br/>
            <span class="comments">${spark.postCount}</span>
          </div>


        <div class="spark-inner">
          <h3>
            <a href="@{Spark.view(spark.id)}">${spark.title}</a>
          </h3>
          <div class="alt">
            #{nameTag user: spark.author /} &nbsp;&middot;&nbsp;

            #{if !spark.created.equals(spark.edited)} Updated ${spark.edited.format()} #{/if}
            #{if !spark.edited || spark.created.equals(spark.edited)} Created ${spark.created.format()} #{/if}
          </div>

          <div class="tags">#{list items: spark.tags, as: 'tag'}<span class="tag">${tag}</span>#{/list}<div class="clear"></div></div>

        </div>

        <hr/> 

      </div>
      #{/list}

    </div>

  </div>

  <div class="span-8 last">

    <div class="clockframe-container">
      <div class="clockframe">
        <div class="clockframe-content">
          <div>
            <h2>Welcome</h2>
            <p>
              Sparkmuse is an invite-only community where
              <strong>entrepreneurial technologists can share and refine innovative ideas</strong>
              with one another.
              If you'd like to learn more, please check out our <a href="http://blog.sparkmuse.com/">blog</a>.
              We're still in private alpha testing, but
              #{feedbackLink}we'd love to hear about what you think#{/feedbackLink}!
            </p>
          </div>
          <div class="buttons">
            <a class="button create-spark" href="/spark/create">
              <span>
                <img src="@{'public/images/icons/silk/asterisk_yellow.png'}" alt=""/>
                Create Spark
              </span>
            </a>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>

    #{include "standardBlurbs.html" /}

  </div>

  <div class="clear"></div>

</div>