#{extends 'bodytemplate.html' /}
#{set title:'Sparkmuse, a community to discuss, refine, and act on innovative tech ideas.' /}

<link rel="stylesheet" href="@{'/public/stylesheets/Home/sparklist.css'}" type="text/css" />

<style type="text/css">
  .blurb .avatar-normal {
    margin-bottom: 4px;
  }

  .page-title {
    height: 50px;
  }

    .page-title h2, .page-title h3 {
      display: inline;
    }

    .page-title .title-bar { border-bottom: 1px dotted rgba(0,0,0,0.2); }

    .page-title a {
        float: right;
        background-image: url("@{'public/images/landing-sprite.png'}");
        background-repeat: no-repeat;
        width: 150px;
        height: 50px;
        display: block;
        text-indent: -9999px;
      }

        a#rss-link {
          background-position: -1200px 0;
        }

        a#twitter-link {
          background-position: -1350px 0;
        }

</style>

<div class="page-title prepend-1 span-22 append-1">

  <div class="title-bar span-22 first last">
    <div class="span-14 first">
      <h2>Tagged</h2> <h3>[${tagged}]</h3>
    </div>
    <div class="span-8 last">
      <a href="" id="rss-link" title="Subscribe (not implemented)">Subscribe</a>
      <a href="#" id="twitter-link" >Follow</a>
    </div>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1">

  <div class="span-14 first">

    <div class="sparks-wrapper">

      <!--<hr/>-->

      #{list items: sparkSearch.sparks, as: 'spark'}
        #{sparkInfo spark: spark, userVotes: userVotes /}
      #{/list}

    </div>

  </div>

  <div class="span-8 last">

    <div class="blurb">
    <div class="blurb-inner">

      <h4>People</h4>

      <p>
        #{list items: assets.users, as: "user"}
        <a href="@{User.view(user.userName)}" title="${user.userName}">
          <img class="avatar-normal" src="http://api.twitter.com/1/users/profile_image/${user.userName}.json?size=normal" alt="${user.userName}"/>
        </a>
        #{/list}
      </p>

    </div>
    </div>

  </div>

  <div class="clear"></div>

</div>