#{extends 'outsider.template.html' /}

<style type="text/css">

  .carry-on {
    padding-right: 64px;
    background: url("@{'/public/images/hand.png'}") right 50% no-repeat;
    height: 50px;
    line-height: 50px;
    width: 155px;
    margin: 0 auto;
  }

  .carry-on a { font-size: 24px; }

</style>

<div class="page-canvas push-6 prepend-1 span-10 append-1">

  <h2>Welcome @${user.userName}!</h2>

  <p>
    Hello and welcome to the beta release of Sparkmuse.  I wanted to take a moment
    to thank you for your participation. It really means a lot to me that you would
    take time out of your busy life to be a part of this project.  My hope is that you
    find something valuable here that will enable you to make your own ideas into
    reality. Please feel welcome to
    email me anytime at <a href="mailto:dave@sparkmuse.com">dave@sparkmuse.com</a> if
    there is any way I can help you succeed.
  </p>

  <h3>
    Getting Started
  </h3>

  <ol>
    <li>
      If you haven't done so already, check out our <a href="@{Application.about()}">About</a> page to
      read up on the general concept.
    </li>
    <li>
      Check out the <a href="@{Application.guidelines()}">Guidelines</a> page to get a feeling for the
      form of discussion on Sparkmuse.
    </li>
    <li>
      Please fill out your profile's bio: #{nameTag user: currentUser /}. Sparkmuse isn't just
      about discussing your ideas, it's
      about connecting you with others who share your interests. Your bio is an opportunity for you to
      open the doors to these connections.
    </li>
  </ol>

  <div class="carry-on">
    <a href="@{Home.index()}">To the Sparks</a>
  </div>

</div>