#{extends 'bodytemplate.html' /}
#{set title:'Sparkmuse, A community to discuss, refine, and act on innovative tech ideas.' /}
#{set nav:'ACTIVITY' /}

<link rel="stylesheet" href="@{'/public/stylesheets/Activity/activity.css'}" type="text/css" />

<div class="page-title prepend-1 span-22 append-1 first last">

  <div class="title-bar span-22 first last">
    <h1>Activity</h1>
    <h2>Fresh ideas and feedback</h2>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1 first last">

we're going wide baby

</div>