#{extends 'bodytemplate.html' /}
#{set title:'Sparkmuse, A community to discuss, refine, and act on innovative tech ideas.' /}
#{set nav:'ACTIVITY' /}

<link rel="stylesheet" href="@{'/public/stylesheets/Activity/activity.css'}" type="text/css" />

<div class="page-title prepend-1 span-22 append-1 first last">

  <div class="title-bar span-22 first last">
    <h1>Activity</h1>
    <h2>Fresh ideas and feedback</h2>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1 first last">

  <div class="activities">

    #{list items: stream.activities, as:'activity'}

      <div class="activity">
      <div class="activity-inner">
        <div class="title">
          <table>
            <tr>
              <td class="author">
                <img class="avatar" src="http://api.twitter.com/1/users/profile_image/${activity.summary.userName}.json?size=normal" alt="Twitter avatar"/>
              </td>
              <td class="summary">
                #{if activity.isSpark()}
                  <h3 class="stripe-yellow">Spark</h3>
                #{/if}
                #{if activity.isPost()}
                  <h3 class="stripe-orange">Post</h3>
                #{/if}
                <a href="@{Spark.view(activity.summary.sparkId)}">${activity.summary.sparkTitle}</a>
                <div class="alt">
                  #{if activity.summary.note}
                    ${activity.summary.note}
                    &nbsp;&middot;&nbsp;
                  #{/if}
                  ${activity.created.format()}
                </div>
              </td>
            </tr>
          </table>

        </div>
        <div class="content"></div>
      </div>
      </div>

    #{/list}

  </div>

</div>