#{extends 'bodytemplate.html' /}
#{set title:'Sparkmuse, a community to discuss, refine, and act on innovative tech ideas.' /}
#{set nav:'ACTIVITY' /}

<link rel="stylesheet" href="@{'/public/stylesheets/Activity/activity-2.css'}" type="text/css" />

<div class="page-title prepend-1 span-22 append-1 first last">

  <div class="title-bar span-22 first last">
    <h1>Activity</h1>
    <h2>Fresh ideas and feedback</h2>
  </div>

</div>

<div class="page-canvas prepend-1 span-22 append-1 first last">

  <div class="options">
    <h4>Filter:</h4>
    <ul id="filters" class="floated option-set">
      <li><a href="#" data-filter="*" class="selected">everything</a></li>
      <li><a href="#" data-filter=".replies">replies</a></li>
      <li><a href="#" data-filter=".you">you</a></li>
    </ul>

    <h4>Sort:</h4>
    <ul id="sort" class="floated option-set">
      <li><a href="#recency" class="selected">recency</a></li>
      <li><a href="#kind">kind</a></li>
    </ul>

    <div class="clear"></div>
  </div>

  <div id="activities">

    #{list items: stream.activities, as:'activity'}

      <div created="${activity.created.getMillis()}"
           kind="${activity.kind}"
          class="activity
          #{if activity.isReply()} replies #{/if}
          #{if activity.isPersonal()} you #{/if}
          ">
      <div class="activity-inner">
        <div class="title">
          <table>
            <tr>
              <td class="author">
                #{avatar activity.summary.userName /}
              </td>
              <td class="summary">
                #{if activity.isSpark()}
                  <h3 class="stripe-yellow">Spark</h3>
                #{/if}
                #{if activity.isPost()}
                  <h3 class="stripe-orange">Post</h3>
                #{/if}
                <a href="@{Spark.view(activity.summary.sparkId)}">${activity.summary.sparkTitle}</a>
                <div class="alt">
                  #{if activity.summary.note}
                    ${activity.summary.note}
                    &nbsp;&middot;&nbsp;
                  #{/if}
                  ${activity.created.format()}
                </div>
              </td>
            </tr>
          </table>

        </div>
        <div class="content"></div>
      </div>
      </div>

    #{/list}

    <div class="clear"></div>

  </div>

</div>

<script type="text/javascript" src="@{'/public/javascripts/jquery/jquery.isotope.min.js'}"></script>

<script type="text/javascript">
  $(document).ready(function(){
    
    $('#activities').isotope({
      // options
      itemSelector: '.activity',
      layoutMode: 'fitRows',
      getSortData: {
        kind: function($elem) {
          return $elem.attr('kind');
        },
        recency: function( $elem ) {
          return parseFloat($elem.attr("created"), 10);
        }
      }
    });

    $('#filters a').click(function(){
      var selector = $(this).attr('data-filter');
      $('#activities').isotope({ filter: selector });
      return false;
    });

    $('#sort a').click(function(){
      // get href attribute, minus the '#'
      var sortName = $(this).attr('href').slice(1),
          options = { sortBy: sortName };

      if (sortName === "kind") { options.sortAscending = false; }
      $('#activities').isotope(options);
      return false;
    });

    $('.option-set > li > a').click(function(){
      $(this).parent().parent().find("a").removeClass('selected');
      $(this).addClass('selected');
    })

  });
</script>