#{extends 'outsider.template.html' /}

<div class="page-canvas push-6 prepend-1 span-10 append-1">

  <h2>Just one moment, friend...</h2>

  <p>
    Your username is not yet approved for access to Sparkmuse.  But don't let that stop you, we'd love
    to have another opinion in the mix!  If you haven't done so already, please apply for an invitation.
    We regularly invite new members based on how we feel they can contribute to the community.  Be sure to
    give us a website that shows your entrepreneurial spirit or web expertise in action.  Thank you so
    much for your interest.
  </p>

  #{applyForInvitation /}
  
</div>