#{extends 'outsider.template.html' /}

<div class="page-canvas push-6 prepend-1 span-10 append-1">

  <h2>Just one moment, friend...</h2>

  <p>
    You must first login before accessing this page. If you're already a member, please
    login here:
  </p>

  <p style="text-align:center;">
    <a style="display: inline-block;" href="@{Authorization.authenticate()}" class="twitter-login">Sign in with Twitter</a>
  </p>

  <p>
    Not a member? No problem, We love seeing new people! Please apply for an invitation below.
    We regularly invite new members based on how we feel they can contribute to the community.  Be sure to
    give us a website that shows your entrepreneurial spirit or web expertise in action.  Thank you so
    much for your interest.
  </p>

  #{applyForInvitation /}
  
</div>