*{ args: 1- discussion, 2- userVotes, 3-userProfile }*

<div class='discussion' created="${_discussion.created.getMillis()}">

  <div class="details">
    <div class="detail">

      #{likeButton votable: _discussion, userVotes: _userVotes, size: "medium" /}

    </div>
    <div class="detail"><a href="@{Discuss.view(_discussion.id)}" class="comments" title="View comments">${_discussion.commentCount}</a></div>
  </div>

  <div class="discussion-inner">
    <h3>
      #{if _discussion.discussionType.toString() == "LINK"}
        <a href="${_discussion.url}" target="_new">${_discussion.title}</a> <img src="@{'public/images/icons/silk/link_go.png'}" alt="External Link"/>
      #{/if}
      #{else}
        <a href="@{Discuss.view(_discussion.id)}">${_discussion.title}</a>
      #{/else}
    </h3>
    <div class="alt">
      Created ${_discussion.created.format()}
      by #{nameTag user: _discussion?.author, size: "mini"/}
      in
      #{if _discussion.group}
      <a href="#${_discussion.group.name}" class="group">/discuss/${_discussion.group.name}</a>
      #{/if}
      #{else}
      <a href="#" class="group">/discuss</a>
      #{/else}

    </div>
  </div>

  <hr/>

</div>