<style type="text/css">
  form input {
    width: 100%;
  }
</style>
<div id="application">
  <h3>Apply for an Invitation</h3>
  <form name="application-form" action="@{Authorization.applyForInvitation()}" method="POST">
    <p>
      <label>Twitter Username</label>
       <div class="input-wrapper"><input type="text" name="userName" value="@"/></div>
    </p>

    <p>
      <label>Where can we learn about you?</label>
      <div class="input-wrapper"><input type="text" name="url" value="http://"/></div>
    </p>
    <button type="submit" class="create-spark">
      <img src="@{'public/images/favicon.png'}" alt="Apply"/>
      Apply
    </button>
  </form>
</div>
<script type="text/html" id="thanks-for-applying">
  <h3>Thank you!</h3>
  <p>
    Thank you for applying.  We will let you know as soon as we have accepted your
    application.  We hope to open for alpha testing soon.
  </p>
</script>
<script type="text/javascript">
  $(document).ready(function(){
    var appForm = document["application-form"];
    $(appForm).formHandler(function(){
      var application = $("#application");
      application.css("display", "none");
      application.html($("#thanks-for-applying").html());
      application.fadeIn(1000);
      return {
        userName: appForm.userName.value,
        url: appForm.url.value
      };
    });
  });
</script>