<div id="footer-container">
  <div class="page-container">
    <div id="footer" class="clearfix">
      <a href="#" class="top-arrow">Top</a>
      <table>
        <tr>
          <td class="first">
            <h4>What's New?</h4>
            <div id="latest-tweets"></div>
          </td>
          <td class="last">
            <h4>Connect</h4>
            <ul>
              <li><a href="http://blog.sparkmuse.com">Blog</a></li>
              <li><a href="http://www.twitter.com/sparkmuse">Twitter</a></li>
            </ul>
            <h4>More</h4>
            <ul>
              <li><a href="@{Application.guidelines()}">Guidelines</a></li>
              #{if currentUser}<li><a href="#">Feedback</a></li>#{/if}
              <li><a href="@{Application.about()}">About</a></li>
              <li><a href="#">Credits</a></li>
            </ul>
          </td>
        </tr>
      </table>
      <img src="@{'public/images/city-shorter.png'}" id="city"/>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){

    //top button
    $(".top-arrow").click(function(){
      $('body').animate({scrollTop:0}, 'fast');
      return false;
    });

    //recent tweets
    $.getJSON("http://twitter.com/statuses/user_timeline/sparkmuse.json?count=3&callback=?", function(data) {
      var urlRegex = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;

      function isUrl(s) { return urlRegex.test(s); }

      function decorate(s) {
        var tokens = s.split(" "), toReturn = "", i;
        for (i in tokens) {
          if (tokens.hasOwnProperty(i)) {
            var t = tokens[i];
            if (isUrl(t)) { tokens[i] = "<a href='" + t + "'>" + t + "</a>"; }
          }
        }
        return "<div class='tweet'>" + tokens.join(" ") + "</div>"
      }

      var tweets = $.collection(data).findAll(function(x){
        return x && x.text;
      })
      .map(function(x){
        return decorate(x.text);
      });

      $("#latest-tweets").html(
          "<hr/>" +
          tweets.toArray().join("<hr/>") +
          "<hr/>"
      );
    });
  });
</script>