<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/sparkmuse-8.css'}"/>
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/uniform.sparkmuse.css'}"/>
<!--[if IE 6]>
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/ie.css'}"/>
<![endif]-->
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}"/>

<script type="text/javascript" src="@{'public/javascripts/jquery/jquery-1.5.min.js'}"></script>



*{ Analytics should come last }*
%{ if (play.mode == play.mode.PROD) { }%
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-933690-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
%{ } }%