*{
  parameters:
    votable: votable object
    userVotes: user vote history for items on page
    size: "big" for surrounding box, "medium" for inline rep label or "small" for only the icon, default is small
}*
%{ isLiked = _userVotes.hasUpVoted(_votable); _size = _size ?: "small" }%
<a href="#!%{ if(!isLiked){ }%@{User.vote(_votable.class.name, _votable.id)}%{ } }%"
   #{if _size == "small"} title="${_votable.votes} Likes" #{/if}
   callback="SM.LikedCallback"
   class='likes likes-${_size} ${isLiked ? "liked" : ""}'
   title='#{if isLiked}You liked this.#{/if}#{else}Click to like.#{/else}'>${_votable.votes}</a>