*{
    parameters:
      post: Post object
}*
<div class="comment">
  <div class="author">
    <a class="button positive" href="post.html#">
      <span>
        <img src="@{'public/images/icons/silk/comment_add.png'}" alt="Reply"/>
        Reply
      </span>
    </a>
    <a href="post.html#upvote" class="likes likes-small" title="32 likes"></a>  <!-- active class for voted -->
    <cite>
      #{nameTag user: _post.author /} *{ todo use real poster's user }*
    </cite>
  </div>
  <blockquote>
    ${_post.displayContent?.raw()}
  </blockquote>
</div>