*{
    parameters:
      post: Post object,
      userVotes: UserVotes object
}*
<div class="comment" post="${_post.id}">
  <div class="author">
    #{likeButton votable: _post, userVotes: _userVotes /}
    <cite>
      #{nameTag user: _post.author /}
    </cite>
  </div>
  <blockquote>
    #{if _post.leadingQuestion}
      <div class="content leading-question">
        <p>${_post.leadingQuestion}</p>
      </div>
    #{/if}

    #{if _post.offers}
      <div class="content offer">
        #{list items: _post.offers, as: "offer"}
          <p>
            @${_post.author.userName} is offering help with <strong>${offer.expertise.toWords()}</strong>.
          </p>
        #{/list}
      </div>
    #{/if}

    <div class="markdown-container">
      ${_post.displayContent?.raw()}
    </div>

    #{if _post.visuals || _post.resources}
      <div class="content">
        #{list items: _post.visuals, as: "visual"}
          <div class="visual-item">#{visualLink visual /}</div>
        #{/list}
        #{list items: _post.resources, as: "resource"}
          <div class="resource-item"><a href="${resource.url}" target="_blank">${resource.type?.toWords()} - ${resource.title}</a></div>
        #{/list}
      </div>
    #{/if}

    <div class="post-actions alt">
      %{ if (!_post.inReplyToId) { }%
        <a class="icon-button positive"
            href="#"
            onclick="SM.Spark.newReply('${_post.id}');"
            title="Reply to this post.">
          <img src="@{'public/images/icons/silk/comment_add.png'}" />
        </a>
      %{ } }%
      <label class="minor">Posted ${_post.created.format()}</label>
    </div>
  </blockquote>
  <div class="replies">
    #{list items: _post.replies, as: "reply"}
      #{post post: reply, userVotes: _userVotes /}
    #{/list}
  </div>
</div>