*{ args: 1- wish, 2- userVotes, 3-userProfile }*

<div class='wish'>

  <div class="details">
    <div class="detail">#{avatar _wish.author.userName /}</div>
    <div class="detail">

      #{if _userProfile?.canVoteOnFoundry()}
        %{ isLiked = _userVotes.hasUpVoted(_wish) }%
        <a href="#!%{ if(!isLiked){ }%@{User.vote(_wish.class.name, _wish.id)}%{ } }%"
           callback="SM.LikedCallback"
           class='likes likes-medium ${isLiked ? "liked" : ""}'
           title='#{if isLiked}You liked this.#{/if}#{else}Click to like.#{/else}'>${_wish.votes}</a>
      #{/if}
      #{else}
        <a href="#"
           title="#{foundry/voteTooltip/}"
           class='likes likes-medium'>${_wish.votes}</a>
      #{/else}

    </div>
    <div class="detail"><span class="comments">${_wish.commentCount}</span></div>
  </div>

  <div class="wish-inner">
    <h3>
      <a href="@{Foundry.view(_wish.id)}">${_wish.title}</a>
    </h3>
    <p>${_wish.description.abbreviate(200)}</p>
    <div class="alt">
      Created ${_wish.created.format()}
    </div>

    <div class="tags">#{list items: _wish.tags, as: 'tagName'}#{tag tagName /}#{/list}<div class="clear"></div></div>

  </div>

  <hr/>

</div>