$LOGO_LIGHT_YELLOW: #fdf9d2;
$LOGO_YELLOW: #f5e21f;
$LOGO_DARK_YELLOW: #FFC91F;
$LOGO_BLUE: #69D2E7;
$LOGO_LIGHT_BLUE: #A7DBD8;
$LOGO_DARK_BLUE: #007160;
$LOGO_ORANGE: #FA6900;
$LOGO_LIGHT_ORANGE: #F38630;
$COLOR_NEUTRAL: #E0E4CC;
$COLOR_LIGHT_NEUTRAL: #fefffa;
$COLOR_DARK_NEUTRAL: #d1d9a9;
$COLOR_ALT: #666;

$FONT_FAMILY_TITLE: "Tahoma", "Geneva", sans-serif;
$FONT_FAMILY_CONTROLS: "Tahoma", "Geneva", sans-serif;
$FONT_FAMILY_STANDARD: Georgia, "Times New Roman", Times, serif;

.page-title {
  text-indent: -9999px;
  padding-top: 0;
}

/*.title-bar * { float: left; }*/
.title-bar h1 {
  background: url("../../images/users_heading.png") 0 50% no-repeat;
  width: 150px;
  /*margin: 28px 5px 0 0;*/
  margin: 0;
}
.title-bar h2 {
  background: url("../../images/users_heading.png") -170px 50% no-repeat;
  width: 250px;
  /*margin: 28px 5px 0 0;*/
  margin: 0;
}
.title-bar {
  margin-bottom: 0.5em;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
  background: url("../../images/people-line.png") 475px 10px no-repeat;
  padding-top: 55px;
}

table.users {
  width: 100%;
  vertical-align: middle;
  font-size: 16px;
}

  table.users tr td {
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  table.users thead tr td {
    border-bottom: 1px solid $LOGO_DARK_BLUE;
  }

  table.users tbody tr:hover {
    background-color: rgba(207,255,255,0.7);
    cursor: pointer;
  }

  table.users td { padding: 3px 10px 3px 3px; }

.name {
  font-size: 18px;
  color: $LOGO_ORANGE;
}

table.users td.column-avatar { width: 55px; padding: 3px; }

.column-expertise { min-width: 240px; font-family: $FONT_FAMILY_TITLE; }

  .column-expertise .has { color: $LOGO_DARK_BLUE; }
  .column-expertise .seeking { color: #806f00; }

.thead-icon  {
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

  .rep {
    background-image: url("../../images/icons/silk/lightbulb.png");
  }

  .posts {
    background-image: url("../../images/icons/silk/comments.png");
  }

  .sparks {
    background-image: url("../../images/icons/silk/asterisk_orange.png");
  }

.how-to-container {
  font-family: $FONT_FAMILY_TITLE;
  margin-bottom: 1em;

  position:relative;
  height:96px;
  overflow:hidden;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  -moz-box-shadow: 1px 1px 3px #b2b2b2;
  -webkit-box-shadow: 1px 1px 3px #b2b2b2;
  box-shadow: 1px 1px 3px #b2b2b2;
}

  .how-to-container > div {
    top:0;
    left:0;
    position:absolute;
    height:92px;
    width: 100%;
    cursor: pointer;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .how-to-container div.inner {
    padding: 10px 10px 10px 25px;
  }

  .how-to-container .front {
    color: #2b8f70;
    border-bottom: 4px solid #72e2b8;
    font-size: 18px;
    background: #d6fff0 url("../../images/hand.png") 200px 50% no-repeat;
    line-height: 76px;
  }


  .how-to-container .back {
    color: #806f00;
    background-color: #fff9b9;
    border-bottom: 4px solid #f4e11f;
  }
