$LOGO_LIGHT_YELLOW: #fdf9d2;
$LOGO_YELLOW: #f5e21f;
$LOGO_DARK_YELLOW: #FFC91F;
$LOGO_BLUE: #69D2E7;
$LOGO_LIGHT_BLUE: #A7DBD8;
$LOGO_DARK_BLUE: #007160;
$LOGO_ORANGE: #FA6900;
$LOGO_LIGHT_ORANGE: #F38630;
$COLOR_NEUTRAL: #E0E4CC;
$COLOR_LIGHT_NEUTRAL: #fefffa;
$COLOR_DARK_NEUTRAL: #d1d9a9;
$COLOR_ALT: #666;

$FONT_FAMILY_TITLE: "Tahoma", "Geneva", sans-serif;
$FONT_FAMILY_CONTROLS: "Tahoma", "Geneva", sans-serif;
$FONT_FAMILY_STANDARD: Georgia, "Times New Roman", Times, serif;

.page-title {
  text-indent: -9999px;
}

.title-bar * { float: left; }
.title-bar h1 {
  background: url("../../images/users_heading.png") 0 50% no-repeat;
  width: 150px;
  margin: 28px 5px 0 0;
}
.title-bar h2 {
  background: url("../../images/users_heading.png") -170px 50% no-repeat;
  width: 250px;
  margin: 28px 5px 0 0;
}
.title-bar {
  margin-bottom: 0.5em;
  border-bottom: 1px dotted rgba(0,0,0,0.1); 
}

table.users {
  width: 100%;
  vertical-align: middle;
  font-size: 16px;
}

  table.users tr td {
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  table.users thead tr td {
    border-bottom: 1px solid $LOGO_DARK_BLUE;
  }

  table.users tbody tr:hover {
    background-color: rgba(207,255,255,0.7);
    cursor: pointer;
  }

  table.users td { padding: 3px; }

.name {
  font-size: 18px;
  color: $LOGO_ORANGE;
}

.column-avatar { width: 55px; }

.column-expertise { min-width: 240px; } 

.thead-icon  {
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}

  .rep {
    background-image: url("../../images/icons/silk/lightbulb.png");
  }

  .posts {
    background-image: url("../../images/icons/silk/comments.png");
  }

  .sparks {
    background-image: url("../../images/icons/silk/asterisk_orange.png");
  }

.expertise {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/expertise-sprite.png");
  display: block;
  float: left;
}

.expertise-big-data { background-position: 0 0; }
.expertise-business { background-position: 0 -32px; }
.expertise-design { background-position: 0 -64px; }
.expertise-domain-expertise { background-position: 0 -96px; }
.expertise-engineering { background-position: 0 -128px; }
.expertise-finance { background-position: 0 -160px; }
.expertise-lean-methodology { background-position: 0 -192px; }
.expertise-marketing { background-position: 0 -224px; }
.expertise-mobile { background-position: 0 -256px; }
.expertise-product-development { background-position: 0 -288px; }
.expertise-sales { background-position: 0 -320px; }
.expertise-seo { background-position: 0 -352px; }
.expertise-social-media { background-position: 0 -384px; }