#{extends "User/user.template.html" /}

<div class="form-edit-user span-14">
  <form name="EditProfile" action="@{User.saveProfile}" method="POST">
    <table>
      <tr>
        <td class="column-5">
          <label>Name</label>
          <div class="input-wrapper"><input type="text" name="name" value="${profile.name}" /></div>
        </td>
        <td class="column-5 last">
          <label>Location</label>
          <div class="input-wrapper"><input type="text" name="location" value="${profile.location}" /></div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="column-10 last">
          <label>Website</label>
          <div class="input-wrapper"><input type="text" name="website" value="${profile.website}" /></div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="column-10 last">
          <label>Expertise</label>
          ...
        </td>
      </tr>
      <tr>
        <td colspan="2" class="column-10 last">
          <label>Biography</label>
          <div class="input-wrapper"><textarea name="bio">${profile.bio}</textarea></div>
        </td>
      </tr>
    </table>
  </form>
  <div class="control-bar">
    <a href="#" onclick="$(document.EditProfile).submit();" class="button positive">
      <span>
        <img src="@{'public/images/icons/silk/accept.png'}" alt="Save"/>
        Save Profile
      </span>
    </a>
    <a href="@{User.view(profile.user.userName)}" class="button negative">
      <span>
        <img src="@{'public/images/icons/silk/cancel.png'}" alt="Cancel"/>
        Cancel
      </span>
    </a>
    <div class="clear"></div>
  </div>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    var converter = new Attacklab.showdown.converter(),
        f = document.EditProfile;

    $(f).formHandler(function() {
      return {
        profile: {
          id: "${profile.id}",
          name: f.name.value,
          location: f.location.value,
          website: f.website.value,
          expertise: [],
          bio: f.bio.value,
          displayBio: converter.makeHtml(f.bio.value)
        }
      }
    });

  });

</script>