#{extends "User/user.template.html" /}

<div class="span-9 first">
  <h3>Bio</h3>
  <div class="markdown-container">${profile?.displayBio?.raw()}</div>
  #{if !profile.displayBio}
    User has not added a biography.
  #{/if}
</div>

<div class="span-5 last">
  <h3>Expertise</h3>
  <ul class="expertise-list">
    #{list items: profile.expertises, as: "expertise"}
      <li><span class="expertise ${expertise.toCss()}"></span> ${expertise.toDisplay()}</li>
    #{/list}
  </ul>
  #{if !profile.expertises}
    User has not added their expertise.
  #{/if}
</div>