#{extends 'bodytemplate.html' /}
#{set title:'Create a New Spark' /}

<style type="text/css">
  .content-container { padding-top: 1em; }

  div.tagsinput { overflow-y: auto;}
  div.tagsinput .tag { font-size: 1em; line-height: 1em; }
  div.tagsinput input { width:100%; margin:0px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px; }
  div.tagsinput div { display:block; float: left; }
  .tags_clear { clear: both; width: 100%; height: 0px; }

  input, textarea, .tagsinput {
    font-size: 16px;
    width: 100%;
  }

  label {
    font-weight: bold;
  }

  fieldset, .control-bar { padding: 0 15px; }
  fieldset { margin-bottom: 1em; }

</style>

<div class="page-canvas prepend-1 span-22 append-1">

  <h2>
    ${isEditMode ? "Edit" : "Create"} Spark
  </h2>

  <div class="span-13">
  <div class="content-wrapper">
  <div class="content-inner">
  <div class="content-container">

    <form name="NewSparkForm" action="@{Spark.submit()}" method="POST">

    <div>

      <div class="error-message" parameter="spark"></div>

      <fieldset>
        <div class="field">
          <label>Title</label>
          <div class="error-message" parameter="spark.title"></div>
          <div class="input-wrapper"><input type="text" name="title" value="${spark?.title}" maxlength="100" /></div>
         </div>
      </fieldset>

      <hr/>

      <fieldset>
        <div class="field">
          <label>Stage</label>
          <div class="error-message" parameter="spark.stage"></div>
          <ol class="stages">
            <li class='stage-new ${spark?.stage?.toString().equals("NEW") ? "selected" : ""}'>New</li>
            <li class='stage-prototype ${spark?.stage?.toString().equals("PROTOTYPE") ? "selected" : ""}'>Prototype</li>
            <li class='stage-beta ${spark?.stage?.toString().equals("BETA") ? "selected" : ""}'>Beta</li>
            <li class='stage-launched ${spark?.stage?.toString().equals("LAUNCHED") ? "selected" : ""}'>Launched</li>
          </ol>
          <input type="hidden" name="stage" value="${spark?.stage}" />
          <div class="clear"></div>
        </div>
      </fieldset>

      <hr/>

      <fieldset>
        <div class="field">
          <label>
            Problem
            #{tip}
              Describe the problem you are trying to solve.  The first part of this section will be used as a summary for
              your Spark.
            #{/tip}
            <img src="@{'public/images/icons/oxygen/markup.png'}" alt="Markdown" title="Markdown enabled"/>
          </label>
          <div class="error-message" parameter="spark.displayProblem"></div>
          <div class="input-wrapper"><textarea name="problem">${spark?.problem}</textarea></div>
         </div>
        <div class="field">
          <label>
            Solution
            #{tip}
              What is your solution and what value does it provide?
            #{/tip}
            <img src="@{'public/images/icons/oxygen/markup.png'}" alt="Markdown" title="Markdown enabled"/>
          </label>
          <div class="error-message" parameter="spark.displaySolution"></div>
          <div class="input-wrapper"><textarea name="solution">${spark?.solution}</textarea></div>
         </div>
      </fieldset>

      <hr/>

      <fieldset>
        <div class="field">
          <label>
            Tags
            #{tip}
              Use tag names that are descriptive of the type of project you are working on.  Multiple tags can be separated with a comma.
            #{/tip}
          </label>
          <div class="error-message" parameter="spark.tags"></div>
          <input type="text" name="tagNames" value='${spark?.tags?.join(",")}' id="tag-entry"/>
        </div>
      </fieldset>



    <div class="control-bar">
      <a href="#" onclick="$(document.NewSparkForm).submit();" class="button positive">
        <span>
          <img src="@{'public/images/icons/silk/accept.png'}" alt="Create Spark"/>
          ${isEditMode ? "Edit" : "Create"} Spark
        </span>
      </a>
      <a href="@{Home.index()}" class="button negative">
        <span>
          <img src="@{'public/images/icons/silk/cancel.png'}" alt="Cancel"/>
          Cancel
        </span>
      </a>
      <div class="clear"></div>
    </div>

    </div>

    </form>

  </div>
  </div>
  </div>
  </div>

  <div class="span-9 blurb last">
  <div class="blurb-inner">

    <h4>Make It Stick</h4>

    <p>
      The stickiness of your idea is not an abstract concept, it comes directly from the way
      you express it.  Give a concrete example of your problem instead of a generalization.  Tell
      a story about how a user would have been better off with your solution.  How is your idea
      unexpected?  How does it emotionally connect with people?  These qualities are an excellent
      heuristic to evaluate an idea yourself: if you cannot express these things, the idea
      may not be sticky enough.
    </p>
    
    <p>
      You can think of your spark as a written version of an elevator pitch.
      What is the single core problem you are trying to solve?  How is your solution
      addressing the problem and providing value to users?  Be concise for both brevity
      and poignancy.
    </p>

  </div>
  </div>

</div>

    
<script type="text/javascript" src="@{'public/javascripts/jquery/jquery.tagsinput-min.js'}"></script>

<script type="text/javascript">
//  var converter = new Attacklab.showdown.converter();
//   var html = converter.makeHtml(text);

  $(document).ready(function() {

    $("#tag-entry").tagsInput({
     defaultText: "Add comma-separated tags",
     width: "497px"
    });

    //register stage buttons
    $('.stages li').click(function(){
      var el = $(this);
      document.NewSparkForm.stage.value = el.html().toUpperCase();
      $('.stages li').removeClass('selected');
      el.addClass('selected');
    });


    var converter = new Attacklab.showdown.converter();

    $(document.NewSparkForm).formHandler(function(){
      var tagNames = this.tagNames.value;
      if (tagNames) { tagNames = tagNames.split(","); }

      return {
        "spark.title": this.title.value,
        "spark.stage": this.stage.value,
        "spark.problem": this.problem.value,
        "spark.displayProblem": converter.makeHtml(this.problem.value),
        "spark.solution": this.solution.value,
        "spark.displaySolution": converter.makeHtml(this.solution.value),
        "spark.tags": tagNames,
        "spark.id": "${spark?.id}"
      };
    }).bind(SM.Events.Submit, SM.formSubmitModal)
      .bind(SM.Events.SubmitEnd, SM.formSubmitModalClose);

  });
</script>

