#{extends 'bodytemplate.html' /}
#{set title:"Sparkmuse [Put Spark Title Here]" /}

<link rel="stylesheet" href="@{'/public/stylesheets/Spark/view.css'}" type="text/css" />

<div class="prepend-1 span-22 append-1 last page-title">

  <a href="" id="rss-link" title="Subscribe">Subscribe</a>
  <h2>
    #{likeButton votable: spark, userVotes: userVotes, size: "big" /}
    Sparkmuse, an Application Idea Community
  </h2>

  <p>
    <em>Last updated July 12, 2010 -</em> I want to create a community where techies can throw out their ideas and get quality
      feedback from a diverse community, find potential cofounders, brainstorm new directions,
      and track their progress.
  </p>

</div>

<div class="span-24 last content-wrapper">
<div class="content-inner">
<div class="content-container">

  <div class="span-8 spark-info-wrapper wrapper">
  <div class="spark-info inner">

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Problem</h4>
      ${spark.problem.raw()}
    </div>
    </div>

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Solution</h4>
      ${spark.solution.raw()}
    </div>
    </div>

    <div class="blurb tags">
    <div class="blurb-inner">
      #{list items: spark.tags, as: 'tag'}<span class="tag">${tag}</span>#{/list}
      <div class="clear"></div>
    </div>
    </div>

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Competitors</h4>
      <ol>
        <li>^ 32 Reddit</li>
        <li>^ 31 Hacker News</li>
        <li>^ 15 Someone</li>
        <li>^ 2 Someone</li>
      </ol>
    </div>
    </div>

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Resources</h4>
      <ol>
        <li>^ 32 Title</li>
        <li>^ 31 Another Title</li>
        <li>^ 15 Kekekekeke</li>
        <li>^ 2 Nonetheless</li>
      </ol>
    </div>
    </div>

  </div>
  </div>

  <div class="comments-panel-wrapper wrapper last">
  <div class="comments-panel inner">

    <div class="header-wrapper">
    <div class="header">
      <a class="button positive" href="#" onclick="SM.Spark.newReply();">
        <span>
          <img src="@{'public/images/icons/silk/add.png'}" alt="Post"/>
          Post
        </span>
      </a>
      <!--<a class="button leading-question" href="#" onclick="SM.Spark.newLeadingQuestion();">-->
        <!--<span>-->
          <!--<img src="@{'public/images/icons/silk/help.png'}" alt="Post"/>-->
          <!--Leading Question-->
        <!--</span>-->
      <!--</a>-->
      <!--<a class="button offer" href="#" onclick="SM.Spark.newOffer();">-->
        <!--<span>-->
          <!--<img src="@{'public/images/icons/silk/group.png'}" alt="Post"/>-->
          <!--Offer-->
        <!--</span>-->
      <!--</a>-->
      <!--<a class="button visual" href="#" onclick="SM.Spark.newVisual();">-->
        <!--<span>-->
          <!--<img src="@{'public/images/icons/silk/image.png'}" alt="Post"/>-->
          <!--Visual-->
        <!--</span>-->
      <!--</a>-->
      <!--<a class="button resource" href="#" onclick="SM.Spark.newResource();">-->
        <!--<span>-->
          <!--<img src="@{'public/images/icons/silk/link.png'}" alt="Post"/>-->
          <!--Resource-->
        <!--</span>-->
      <!--</a>-->
      <h3>Discussion</h3>
    </div>
    </div>

    <div id="comments-container">

      <div class="comment">
        <div class="author">
          <a class="button positive" href="#">
            <span>
              <img src="@{'public/images/icons/silk/comment_add.png'}" alt="Reply"/>
              Reply
            </span>
          </a>
          <a href="#upvote" class="likes likes-small" title="32 likes"></a>  <!-- active class for voted -->
          <cite>
            #{nameTag user:currentUser /} *{ todo use real poster's user }*
          </cite>
        </div>
        <blockquote>
          I think this is a promising concept.  I know that I'd be interested in such a community and
          I suspect many investors may be too.  The only question I have is whether others would want
          to come back to contribute beyond the discussion of their own ideas. kek
        </blockquote>
      </div>

    </div>

  </div>
  </div>

  <div class="clear"></div>

</div>
</div>
</div>

<script type="text/javascript" src="@{'public/javascripts/jquery/fileuploader.js'}">
</script>

<script type="text/javascript">

  document.domain = "sparkmuse.com"; *{ circumvent same origin policy }*

  $(document).ready(function() {
    var urlRegex = /((http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?)/,
        addResourcesCache = {};


    function resizeTextArea() {
      var ta = $(this);
      if (ta.scrollTop() > 0) {
        ta.height(ta.height() + 20);
      }
    }

    function checkForLinks() {
      var i, token, tokens = this.value.replace(/\s+/g, " ").split(" ");
      for (i in tokens) {
        if (i != tokens.length - 1) {
          token = tokens[i];
          if (urlRegex.test(token) && !addResourcesCache[token]) {
            addResourcesCache[token] = true;
            $("#new-reply .add-resources").append(Mustache.to_html(
                $("#template-add-resource").html(),
                { url: token }
            ));
          }
        }
      }
    }

    var s = SM.Spark = {

      replyMode: false,

      cancelReply: function() {
        if (s.replyMode) {
          s.replyMode = false;

          //clean up
          $(document.NewReply).unbind();
          $("#new-reply textarea").unbind();

          //remove
          $("#new-reply").remove();
        }
      },

      newReply: function() {
        if (!s.replyMode) {
          s.replyMode = true;
          $("#comments-container").prepend(Mustache.to_html($("#template-reply").html()));
          $("#new-reply textarea").keyup(resizeTextArea).keyup($.throttle(250, checkForLinks));

          $(document.NewReply).formHandler(function(){
            return {

            }
          })
        }
        else {
          alert("Finish current reply");
        }
      },

      newLeadingQuestion: function() {
        s._startReplyIfNotStarted();
      },

      newOffer: function() {
        s._startReplyIfNotStarted();
      },

      newResource: function(url) {
        s._startReplyIfNotStarted();

        if (url) {
          var id = s._createLoadingView("#new-reply .resources", "resource");
          $.ajax({
            url: "@{Spark.lookupLinkMetadata()}",
            data: { url: url },
            context: s,
            success: function(r) {
              $("#" + id).remove();
              this._createNewResource(url, r.title, r.description);
            }
          });
        }
        else {
          this._createNewResource();
        }
      },

      _createNewResource: function(url, title, description) {
        $("#new-reply .resources").append(Mustache.to_html(
            $("#template-new-resource").html(),
            {
              url: url || "",
              title: title || "",
              description: description || ""
            }
        ));
      },

      newVisual: function(uploadTarget) {
        s._startReplyIfNotStarted();
        if (!uploadTarget) {
          var id = s._createLoadingView("#new-reply .visuals", "visual");
          $.ajax({
            url: "@{Blob.createUploadTarget}",
            context: s,
            success: function(r) {
              $("#" + id).remove();
              this.newVisual(r);
            }
          });
        }
        else {
          var id = SM.newId();
          $("#new-reply .visuals").append(Mustache.to_html(
              $("#template-new-visual-uploader").html(),
              { id: id, uploadTarget: uploadTarget.url }
          ));
          var showVisual = function(){
            $.ajax({
              url: "@{Blob.lastUpload}",
              data: {uuid: uploadTarget.uuid},
              context: s,
              success: function(r) {
                $("#" + id).remove();
                $("#new-reply .visuals").append(Mustache.to_html(
                    $("#template-new-visual").html(),
                    { id: id, key: r }
                ));
              },
              error: function(r, status) {
                if (status === "404") {
                  showVisual();
                }
              }
            });
          }
          $("#" + id + " iframe").load(showVisual);
        }
      },

      onVisualFormSubmit: function(id) {
        $("#" + id + " form").hide();
        $("#" + id).append('<img src="@{'public/images/spinner.gif'}" />');
        return true;
      },

      _startReplyIfNotStarted: function() {
        if (!s.replyMode) {
          s.newReply();
        }
      },

      deleteContent: function(el) {
        $(el).parents(".content").animate({
            opacity: 0,
            height: 0
          },
          function() {
            $(this).remove();
          }
        );
      },

      _createLoadingView: function(appendTo, cssClass) {
        var id = SM.newId();
        $(appendTo).append(Mustache.to_html(
            $("#template-loading").html(),
            {
              id: id,
              cssClass: cssClass || ""
            }
        ));
        return id;
      }
    }
  });

</script>

<script type="text/html" id="template-reply">

  <div class="new-reply-wrapper" id="new-reply">

    <form name="NewReply" method="POST" action="@{Spark.reply()}">
      <div class="comment">
        <div class="author">
          <cite>
            #{nameTag user:currentUser /}
          </cite>
        </div>
        <blockquote>
          <div class="leading-questions"></div>
          <div class="offers"></div>
          <textarea name="reply"></textarea>
          <div class="add-resources"></div>
          <div class="visuals"></div>
          <div class="resources"></div>
        </blockquote>
      </div>
    </form>

    <div class="control-bar">
      <div class="attachments">
        <label class="minor">Add:</label>
        <a class="icon-button leading-question"
            href="#"
            onclick="SM.Spark.newLeadingQuestion();"
            title="Ask a leading question, focus on a specific topic">
          <img src="@{'public/images/icons/silk/help.png'}" />
        </a><a class="icon-button offer" href="#" onclick="SM.Spark.newOffer();">
          <img src="@{'public/images/icons/silk/group.png'}" title="Offer help"/>
        </a><a class="icon-button visual" href="#" onclick="SM.Spark.newVisual();">
          <img src="@{'public/images/icons/silk/image.png'}" title="Add a visual"/>
        </a><a class="icon-button resource" href="#" onclick="SM.Spark.newResource();">
          <img src="@{'public/images/icons/silk/link.png'}" title="Add a resource"/>
        </a>
      </div>
      <div class="controls">
        <a href="#" onclick="$(document.NewReply).submit();" class="button positive">
          <span>
            <img src="@{'public/images/icons/silk/accept.png'}" alt="Submit Reply" />
            Submit
          </span>
        </a>
        <a href="#" onclick="SM.Spark.cancelReply();" class="button negative">
          <span>
            <img src="@{'public/images/icons/silk/cancel.png'}" alt="Cancel" />
            Cancel
          </span>
        </a>
      </div>
      <div class="clearing"></div>
    </div>

  </div>

</script>

*{ loading view while we ask server for something }*
<script type="text/html" id="template-loading">
	<div class="{{cssClass}} content" id="{{id}}">
		<img src="@{'public/images/spinner.gif'}" />
	</div>
</script>

<script type="text/html" id="template-new-visual-uploader">
  <div class="visual content" id="{{id}}">
    <a href="#" onclick="SM.Spark.deleteContent(this);"><img src="@{'public/images/icons/silk/cancel.png'}" /></a>
    <form action="{{uploadTarget}}"
          method="POST"
          enctype="multipart/form-data"
          target="frame"
          onsubmit="return SM.Spark.onVisualFormSubmit('{{id}}');">
      <input type="file" name="file" />
      <input type="submit" value="Submit" />
    </form>
    <iframe style="display: none;" name="frame"/>
  </div>
</script>

<script type="text/html" id="template-new-visual">
  <div class="visual content" id="{{id}}">
    <a href="#" onclick="SM.Spark.deleteContent(this);"><img src="@{'public/images/icons/silk/cancel.png'}" /></a>
    <a href="http://a.sparkmuse.com/serve/{{key}}" target="_blank">View</a>
    <input type="text" name="title" />                                                
  </div>
</script>

*{ new resource form }*
<script type="text/html" id="template-new-resource">
  <div class="resource content">
    <a href="#" onclick="SM.Spark.deleteContent(this);"><img src="@{'public/images/icons/silk/cancel.png'}" /></a>
    <h4>New Resource</h4>
    <label>Url</label><input type="text" value="{{url}}"/>
    <label>Title</label><input type="text" value="{{title}}"/>
    <label>Description</label><input type="text" value="{{description}}"/>
  </div>
</script>

*{ displayed when user types in an url within a post, asks user if they want to show it as a resource }*
<script type="text/html" id="template-add-resource">
  <div class="add-resource content">
    <a href="#" onclick="SM.Spark.newResource('{{url}}'); SM.Spark.deleteContent(this);"><img src="@{'public/images/icons/silk/link.png'}" /></a>
    <a href="#" onclick="SM.Spark.deleteContent(this);"><img src="@{'public/images/icons/silk/cancel.png'}" /></a>
    {{url}}
  </div>
</script>

