#{extends 'bodytemplate.html' /}
#{set title:"Sparkmuse [Put Spark Title Here]" /}

<link rel="stylesheet" href="@{'/public/stylesheets/Spark/view.css'}" type="text/css" />

<div class="prepend-1 span-22 append-1 last page-title">

  <a href="" id="rss-link" title="Subscribe">Subscribe</a>
  <h2>
    #{likeButton votable: spark, userVotes: userVotes, size: "big" /}
    Sparkmuse, an Application Idea Community
  </h2>

  <p>
    <em>Last updated July 12, 2010 -</em> I want to create a community where techies can throw out their ideas and get quality
      feedback from a diverse community, find potential cofounders, brainstorm new directions,
      and track their progress.
  </p>

</div>

<div class="span-24 last content-wrapper">
<div class="content-inner">
<div class="content-container">

  <div class="span-8 spark-info-wrapper wrapper">
  <div class="spark-info inner">

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Problem</h4>
      ${spark.problem.raw()}
    </div>
    </div>

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Solution</h4>
      ${spark.solution.raw()}
    </div>
    </div>

    <div class="blurb tags">
    <div class="blurb-inner">
      #{list items: spark.tags, as: 'tag'}<span class="tag">${tag}</span>#{/list}
      <div class="clear"></div>
    </div>
    </div>

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Competitors</h4>
      <ol>
        <li>^ 32 Reddit</li>
        <li>^ 31 Hacker News</li>
        <li>^ 15 Someone</li>
        <li>^ 2 Someone</li>
      </ol>
    </div>
    </div>

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Resources</h4>
      <ol>
        <li>^ 32 Title</li>
        <li>^ 31 Another Title</li>
        <li>^ 15 Kekekekeke</li>
        <li>^ 2 Nonetheless</li>
      </ol>
    </div>
    </div>

  </div>
  </div>

  <div class="comments-panel-wrapper wrapper last">
  <div class="comments-panel inner">

    <div class="header-wrapper">
    <div class="header">
      <a class="button positive" href="#" onclick="SM.Spark.newReply();">
        <span>
          <img src="@{'public/images/icons/silk/add.png'}" alt="Post"/>
          Post
        </span>
      </a>
      <a class="button leading-question" href="#ask-leading-question">
        <span>
          <img src="@{'public/images/icons/silk/help.png'}" alt="Post"/>
          Leading Question
        </span>
      </a>
      <a class="button resource" href="#add-resource">
        <span>
          <img src="@{'public/images/icons/silk/box.png'}" alt="Post"/>
          Resource
        </span>
      </a>
      <a class="button visual" href="#add-competitor">
        <span>
          <img src="@{'public/images/icons/silk/image.png'}" alt="Post"/>
          Visual
        </span>
      </a>
      <h3>Discussion</h3>
    </div>
    </div>

    <div id="comments-container">

      <div class="comment">
        <div class="author">
          <a class="button positive" href="#">
            <span>
              <img src="@{'public/images/icons/silk/comment_add.png'}" alt="Reply"/>
              Reply
            </span>
          </a>
          <a href="#upvote" class="likes likes-small" title="32 likes"></a>  <!-- active class for voted -->
          <cite>
            #{nameTag user:currentUser /} *{ todo use real poster's user }*
          </cite>
        </div>
        <blockquote>
          I think this is a promising concept.  I know that I'd be interested in such a community and
          I suspect many investors may be too.  The only question I have is whether others would want
          to come back to contribute beyond the discussion of their own ideas. kek
        </blockquote>
      </div>

    </div>

  </div>
  </div>

  <div class="clear"></div>

</div>
</div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    function resizeTextArea() {

    }

    function checkForLinks() {
      
    }

    var s = SM.Spark = {

      replyMode: false,

      cancelReply: function() {
        if (s.replyMode) {
          s.replyMode = false;

          //clean up
          $(document.NewReply).unbind();
          $("#new-reply textarea").unbind();

          //remove
          $("#new-reply").remove();
        }
      },

      newReply: function() {
        if (!s.replyMode) {
          s.replyMode = true;
          $("#comments-container").prepend(Mustache.to_html($("#template-reply").html()));
          $("#new-reply textarea").keyup(resizeTextArea)
              .keyup(checkForLinks);

          $(document.NewReply).formHandler(function(){
            return {

            }
          })
        }
        else {
          alert("Finish current reply");
        }
      }

    }
  });

</script>

<script type="text/html" id="template-reply">

  <div class="new-reply-wrapper" id="new-reply">

    <form name="NewReply" method="POST" action="@{Spark.reply()}">
      <div class="comment">
        <div class="author">
          <cite>
            #{nameTag user:currentUser /}
          </cite>
        </div>
        <blockquote>
          <textarea name="reply"></textarea>
        </blockquote>
      </div>
    </form>

    <div class="controls">
      <a href="#" onclick="$(document.NewReply).submit();" class="button positive">
        <span>
          <img src="@{'public/images/icons/silk/accept.png'}" alt="Submit Reply" />
          Submit
        </span>
      </a>
      <a href="#" onclick="SM.Spark.cancelReply();" class="button negative">
        <span>
          <img src="@{'public/images/icons/silk/cancel.png'}" alt="Cancel" />
          Cancel
        </span>
      </a>
    </div>

  </div>

</script>

