#{extends 'bodytemplate.html' /}
#{set title:"Sparkmuse [Put Spark Title Here]" /}

<link rel="stylesheet" href="@{'/public/stylesheets/Spark/view.css'}" type="text/css" />

<div class="prepend-1 span-22 append-1 last page-title">

  <div class="likes">121</div>
  <a href="" id="rss-link" title="Subscribe">Subscribe</a>
  <h2>
    Sparkmuse, an Application Idea Community
  </h2>

  <p>
    <em>Last updated July 12, 2010 -</em> I want to create a community where techies can throw out their ideas and get quality
      feedback from a diverse community, find potential cofounders, brainstorm new directions,
      and track their progress.
  </p>

</div>

<div class="span-24 last content-wrapper">
<div class="content-inner">
<div class="content-container">

  <div class="span-8 spark-info-wrapper wrapper">
  <div class="spark-info inner">

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Problem</h4>
      <p>There presently isn't a go-to site on the net for discussing new tech ideas.  Whether they
      be web or mobile apps, B2B or B2C, or oriented towards social or gaming, you are left with two alternatives:
      real contacts or discussion boards lacking for the task.  You can certainly get great value
      from real contacts, especially if you live in a booming hub, but you miss out on cross-polination
      as most meetups are among birds of a feather.  An online discussion board can give you this
      insight, but their functionality doesn't invite brainstorming and collaboration after the
      initial discussion.</p>
    </div>
    </div>

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Solution</h4>
      <p>I want to create a community where techies can throw out their ideas and get quality
      feedback from a diverse community, find potential cofounders, brainstorm new directions,
      and track their progress.</p>

      <p>The technology solution isn't as difficult or interesting as will be forming the community
      itself.  I've seen many requests per day for reviews and feedback in various places around
      the net and I think those are the best leads with which to start.  For these people, I
      will both offer my insight to their request and then invite them to a more formal place
      for them to get more of it.  I cannot think of a better way to form a community for idea
      discussion than to track down the people who most want it.  I think they would be personally
      invested in participating and strengthening the site.</p>
    </div>
    </div>

    <div class="blurb tags">
    <div class="blurb-inner">
      [entrepreneur] [social]
    </div>
    </div>

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Competitors</h4>
      <ol>
        <li>^ 32 Reddit</li>
        <li>^ 31 Hacker News</li>
        <li>^ 15 Someone</li>
        <li>^ 2 Someone</li>
      </ol>
    </div>
    </div>

    <div class="blurb">
    <div class="blurb-inner">
      <h4>Resources</h4>
      <ol>
        <li>^ 32 Title</li>
        <li>^ 31 Another Title</li>
        <li>^ 15 Kekekekeke</li>
        <li>^ 2 Nonetheless</li>
      </ol>
    </div>
    </div>

  </div>
  </div>

  <div class="comments-wrapper wrapper last">
  <div class="comments inner">

    <div class="header-wrapper">
    <div class="header">
      <a class="button positive" href="#post-comment">
        <span>
          <img src="@{'public/images/icons/silk/add.png'}" alt="Post"/>
          Post
        </span>
      </a>
      <a class="button competitor" href="#add-competitor">
        <span>
          <img src="@{'public/images/icons/silk/bomb.png'}" alt="Post"/>
          Competitor
        </span>
      </a>
      <a class="button resource" href="#add-resource">
        <span>
          <img src="@{'public/images/icons/silk/box.png'}" alt="Post"/>
          Resource
        </span>
      </a>
      <a class="button leading-question" href="#ask-leading-question">
        <span>
          <img src="@{'public/images/icons/silk/help.png'}" alt="Post"/>
          Leading Question
        </span>
      </a>
      <h3>Discussion</h3>
    </div>
    </div>

    <div class="comment-container">
      <div class="author">
        <a class="button positive" href="">
          <span>
            <img src="@{'public/images/icons/silk/comment_add.png'}" alt="Reply"/>
            Reply
          </span>
        </a>
        <a href="#" class="likes" title="32 likes"></a>  <!-- active class for voted -->
        <cite>
          <img src="@{'public/images/draft/zeldman_32x32.jpg'}" alt="Netmau5"/>
          <span>Netmau5</span>
        </cite>
      </div>
      <blockquote>
        I think this is a promising concept.  I know that I'd be interested in such a community and
        I suspect many investors may be too.  The only question I have is whether others would want
        to come back to contribute beyond the discussion of their own ideas. kek  
      </blockquote>
    </div>


  </div>
  </div>

  <div class="clear"></div>

</div>
</div>
</div>

