#{extends 'outsider.template.html' /}
#{set title:'About Sparkmuse' /}

<div class="page-canvas push-5 prepend-1 span-12 append-1">

  <div class="breadcrumbs"><a href="@{Application.home()}">Home</a> &rsaquo; About</div>
  <div class="title">
    <h2>About Us</h2>
  </div>
  <hr/>

  <p>
    Hi! Thanks for stopping by to find out more about Sparkmuse.
    Here's a little bit about what makes us great.
  </p>


  <h3>We're early-stage entrepreneurs.</h3>

  <p>
    Before cofounders, before products, and before users, we focus
    on members honing in on one bright idea. We discuss, refine, and
    encourage each other to act. We also facilitate connections between
    entrepreneurs looking for partners to help make their ideas become
    reality.
  </p>

  <h3>We're crazy about science and technology.</h3>

  <p>
    Our entrepreneurs develop ideas for solutions in the fields of science,
    engineering and technology. Not only web applications and mobile tech,
    but also robots, circuit boards, industrial design, and even human genome
    technology. We're also open to the softer sciences, medicine, and any
    cool idea in the larger tech space that helps to solve an identifiable need.
  </p>

  <h3>We help each other.</h3>

  <p>
    It's lonely sometimes starting the next big thing. That's why our community
    emphasizes connections. Whether you need advice from someone who's gone before
    or a brand new partner, this is the place to find it. To keep the love going,
    we encourage every member to help out the others wherever they can. This includes
    not only honest feedback but also resources, referrals and mentoring. Together, we
    can make this a great place.
  </p>

  <h3>We're an honest bunch.</h3>

  <p>
    As a community, we all participate in each other's journeys. To help our ideas
    become better, we provide helpful, honest feedback about them. We also commit
    to keeping each others' ideas confidential and respected. Read more about our
    honesty policy at our <a href="@{Application.guidelines()}">Guidelines</a> page.
  </p>

  #{if !currentUser?.isUser()}

    <p>
      Excited about Sparkmuse? Find out <a href="@{Application.why()}">why you should join today</a>.
    </p>

    #{applyForInvitation /}
  
  #{/if}
</div>