#{extends 'outsider.template.html' /}
#{set title:'Sparkmuse Credits' /}

<div class="page-canvas push-6 prepend-1 span-10 append-1">

    <div class="breadcrumbs"><a href="@{Application.home()}">Home</a> &rsaquo; Credits</div>

    <h2>Credits</h2>

    <p>
      All of our alpha and beta members for their feedback and support!
    </p>

    <p>
      <a href="http://www.famfamfam.com/lab/icons/silk/" target="_new">Silk Icons</a> by Mark James
    </p>

    <p>
      <a href="http://www.komodomedia.com/blog/2009/06/sign-in-with-twitter-facebook-and-openid/" target="_new">Twitter Login Icon</a> by Komodo Media
    </p>

    <p>
      <a href="http://glyphicons.com/" target="_new">Glyph Icons</a> by Jan Kovarik
    </p>

    <p>
      <a href="http://code.google.com/appengine/" target="_new">App Engine</a> by Google
    </p>

</div>