#{extends 'outsider.template.html' /}
#{set title: "Guidelines" /}

<style type="text/css">
  .overview a {
    float: right;
    /*margin-right: 20px;*/
    font-size: 12px;
    padding-top: 5px;
  }

  .heading { position: relative; }

    .heading a.view-sparks {
      position: absolute;
      right: 0px;
      top: -70px;
      width: 225px;
      height: 71px;
      display: block;
      text-align: center;
      padding: 40px 0 0 100px;
      background: url("@{'public/images/dirigible_blank_tail_small.png'}") no-repeat;
    }
</style>

<div class="page-canvas">

  <div class="prepend-1 span-22 append-1 last heading">

    <div class="breadcrumbs"><a href="@{Application.home()}">Home</a> &rsaquo; Guidelines</div>

    <a href="@{Home.index()}" class="view-sparks" alt="Home">#{if currentUser?.isUser()}View Sparks &rarr;#{/if}</a>

    <div class="title">
      <h2>
        Guidelines
      </h2>
   </div>

  </div>

  <div class="section overview">
    
    <div class="prepend-1 span-7 colborder">
      <h3 class="stripe-yellow">
        Discuss
      </h3>
      <p>
        Discussion should be focused on things relevant to a tech startup. That means
        ideas, strategies, development, or business. 
      </p>
    </div>

    <div class="span-6 colborder">
      <h3 class="stripe-orange">
        Refine
      </h3>
      <p>
        Focus on providing high value feedback and offer your insights to
        others as they will do the same.
      </p>
    </div>

    <div class="span-7 last">
      <h3 class="stripe-blue">
        Act
      </h3>
      <p>
        We prefer a predisposition towards action and collaboration.  Be welcoming of potential
        help and offer your own when you can.
      </p>
    </div>

    <div class="clear"></div>

  </div>

  <hr/>

  <div class="prepend-1 span-13 append-1 first">

    <section>
      <h3>Be Nice.</h3>

      <p>
        Nobody wants to be that guy. We all need honest feedback, but feedback that doesn't
        give room for improvement isn't helpful. Don't be a jerk, don't start a fight or sulk
        when someone doesn't like your idea. Also, be considerate. Give your posts descriptive
        titles, tags, and names that will help people find and understand your idea easily.
        Try find something good along with the bad.
      </p>

      <p>
        Stick by the Golden Rule. Treat others like you want to be treated, and we'll all be a-okay.
      </p>
    </section>

    <section>
      <h3>Be Honest.</h3>

      <p>
        Joining our community is an implicit agreement not to share what you read outside our walls.
        There's no NDA silliness, just respect. And this one's a 1-strike policy.
      </p>
    </section>

    <section>
      <h3>Don't Shout.</h3>

      <p>
        That means no ALL-CAPS, and no crazy bolds or italics, special characters, or editorial fluff.
        We're all about evaluating the merits of the idea, not how loudly it can be said.
      </p>
    </section>

    <section>
      <h3>Don't Spam.</h3>

      <p>
        There's lots of great places out there to promote yourself, but The Foundry isn't on the list.
        Ask yourself, is this helpful to our community? Does it promote positive discussion? Anything
        you wouldn't bring up at the dinner table with strangers, you probably shouldn't post here.
        Or email. Or skywrite. Although the last one does kinda sound like a cool idea...
      </p>

      <p>
        Also, this isn't a place to sell. Don't offer help that only involves paid services. If the
        author wants more assistance than you originally intended to provide, it is perfectly fine to
        move to a formal relationship afterwards. But it should never be the focus of the relationship
        to begin with.
      </p>
    </section>

    <section>
      <h3>Be Friendly.</h3>

      <p>
        We love to hear updates on your idea, how it's progressing, and milestones you've reached.
        We're here to encourage and strengthen each other, so don't hesitate to contact members directly
        if you'd like to use their product or service, participate in their beta, or join as a cofounder.
        Offer help freely and sincerely. But, like in the previous rule, don't cross the line into selling
        or spamming.
      </p>
    </section>

    <section>
      <h3>Feel Free to Grow.</h3>

      <p>
        Once your idea materializes into success, don't feel bound to Sparkmuse. We encourage you to move
        on to whatever next steps will best help you. We'll be excited to see you succeed, knowing that we
        were a part of your journey.
      </p>
    </section>

  </div>

  <div class="span-8 append-1 last">

    #{include "standardBlurbs.html" /}

  </div>

  <div class="clear"></div>

</div>