#{extends 'outsider.template.html' /}
#{set title: "Guidelines" /}

<style type="text/css">
  .overview a {
    float: right;
    /*margin-right: 20px;*/
    font-size: 12px;
    padding-top: 5px;
  }

  .heading { position: relative; }

    .heading a.view-sparks {
      position: absolute;
      right: 0px;
      top: -70px;
      width: 225px;
      height: 71px;
      display: block;
      text-align: center;
      padding: 40px 0 0 100px;
      background: url("@{'public/images/dirigible_blank_tail_small.png'}") no-repeat;
    }
</style>

<div class="page-canvas">

  <div class="prepend-1 span-22 append-1 last heading">

    <div class="breadcrumbs"><a href="@{Application.home()}">Home</a> &rsaquo; Guidelines</div>

    <a href="@{Home.index()}" class="view-sparks" alt="Home">#{if currentUser?.isUser()}View Sparks &rarr;#{/if}</a>

    <h2>
      Community Guidelines
    </h2>

  </div>

  <div class="section overview">
    
    <div class="prepend-1 span-7 colborder">
      <h3 class="stripe-yellow">
        Discuss
        <a href="#" onclick="$(document.body).animate({scrollTop: $('#discuss').offset().top}, 'fast');">More...</a>
      </h3>
      <p>
        Discussion should be focused on tech ideas with clearly defined problems and concise,
        poingant solutions.
      </p>
    </div>

    <div class="span-6 colborder">
      <h3 class="stripe-orange">
        Refine
        <a href="#" onclick="$(document.body).animate({scrollTop: $('#refine').offset().top}, 'fast');">More...</a>
      </h3>
      <p>
        Focus on providing high value feedback and offer your insights and perspectives to
        others as they will do the same.
      </p>
    </div>

    <div class="span-7 last">
      <h3 class="stripe-blue">
        Act
        <a href="#" onclick="$(document.body).animate({scrollTop: $('#act').offset().top}, 'fast');">More...</a>
      </h3>
      <p>
        We prefer a predisposition towards action and collaboration.  Be welcoming of potential
        help and offer your own when you can.
      </p>
    </div>

    <div class="clear"></div>

  </div>

  <hr/>

  <div class="prepend-1 span-13 append-1 first">
    <section id="discuss">
      <h3>Discuss</h3>
      <ul>
        <li class="strong">
          We are focused on technology-related ideas which aim to solve an identifiable
          need through science, engineering, and technology.  Web, mobile, and hardware
          are typical areas of interest.
        </li>
        <li>
          Being a member here is implicit agreement not to share what you read outside
          our walls.  There is no NDA silliness, just respect for your fellow entrepreneurs.
          This is a 1-strike policy.
        </li>
        <li>
          Keep your posting succinct and to the point.  Think of it like your thirty-second
          elevator pitch.  Tell us why the problem exists and how you will address it before
          the doors open.
        </li>
        <li>
          Use a descriptive title for your idea that expresses its ultimate goal much like you
          would with a tagline on a landing page.
        </li>
        <li>
          Don't use caps, special characters, or editorial fluff to draw unnecessary attention.
          We're about evaluating the merit of ideas and not about how loudly they can be shouted.
        </li>
        <li>
          Post ideas on which you are seriously considering acting or have already begun.  This
          community is predicated on creating; use a notebook if you want to organize the tangents
          that cross your mind right before bed.
        </li>
      </ul>
    </section>

    <section id="refine">
      <h3>Refine</h3>
      <ul>
        <li class="strong">
          This community is based on collaboration, please try to give others your honest feedback
          if you are asking for it in return.
        </li>
        <li>
          Avoid saying you love an idea without consideration or out of friendliness. People are here
          because they want honesty.
          It may have a bitter taste now but it doesn't compare to the pain of later failure.
        </li>
        <li>
          Be civil and offer constructive criticism.  Avoid comments that are abusive or inflamatory.
        </li>
        <li>
          Post comments that provide genuine value to the idea.  Posts like "thanks for the feedback" or
          "good point" aren't directly useful, let voting speak for the merits of a comment.
        </li>
        <li>
          If you submit a resource or visual, make sure it is appropriate content for both a
          professional environment and the idea itself.  Save NSFW for another forum.
        </li>
      </ul>
    </section>

    <section id="act">
      <h3>Act</h3>
      <ul>
        <li class="strong">
          When offering your help, it should be given free and sincerely.  Please don't offer help that only
          involves paid services.  If the author wants more assistance than you originally intended to provide,
          it is perfectly fine to move to a formal relationship afterwards.
        </li>
        <li>
          We love to hear updates on how your idea is progressing, changes you've made, or milestones
          you've reached but avoid using your Spark to sell your services.
        </li>
        <li>
          Don't hesitate to contact members directly if you'd like to use their product or service, participate
          in their beta, or join as a cofounder.  Reaching out to others within the context of Sparkmuse should
          be welcomed by all members.  However, don't abuse this access to spam or harass.
        </li>
        <li>
          Once your idea materializes into a success, you should not feel bound to remain at Sparkmuse.  We
          encourage you to seek out the communities or products that will best facilitate your own
          growth.  Our goal is to help enable you to get that far.
        </li>
      </ul>
    </section>

  </div>

  <div class="span-8 append-1 last">

    #{include "standardBlurbs.html" /}

  </div>

  <div class="clear"></div>

</div>