#{extends 'outsider.template.html' /}
#{set title:'About Sparkmuse' /}

<div class="page-canvas push-6 prepend-1 span-10 append-1">

  <h2>Welcome Friend</h2>

  <p>
    We're glad you decided to stop by and check us out. People like you are the foundation
    of this community and we hope to be able to provide you with as much value as your precense
    benefits us. Please let us know what you like and don't like so we can evolve Sparkmuse
    to better serve our community. You may contact us directly at
    <a href="mailto:feedback@sparkmuse.com">feedback@sparkmuse.com</a> if you have anything
    you'd like to say to us directly.
  </p>

  <h3>Apply Your Invitation</h3>


  <form name="ApplyInvitationForm" action="@{Authorization.applyInvitation()}" method="POST">
    <div class="field">
      #{ifErrors}
         <div class="error-message">#{error 'invitationCode' /}</div>
      #{/ifErrors}
      <label>Invitation Code</label>
      <div class="input-wrapper"><input type="text" name="invitationCode" value="${flash.invitationCode}"/></div>
    </div>
    <div class="control-bar">
      <a href="" onclick="document.ApplyInvitationForm.submit();" class="twitter-login">Sign in with Twitter</a>
    </div>
  </form>

</div>