<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>#{get 'title' /}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  #{includes /}
</head>
<body>

<div id="message-container"></div>

<div id="header-container-wrapper">
<div id="header-container">
  <div class="page-container clearfix" id="header">
    <div class="span-14">
      <a class="logo" href="@{Home.index()}"></a>
      <ol class="nav">
        <li><a href="@{Home.index()}" class="#{if nav=='SPARKS'}active#{/if}">SPARKS</a></li>
        <li><a href="@{People.view()}" class="#{if nav=='PEOPLE'}active#{/if}">PEOPLE</a></li>
        <li><a href="@{ActivityController.view()}" class="#{if nav=='ACTIVITY'}active#{/if}">ACTIVITY</a></li>
      </ol>
    </div>
    <div class="span-10 last">
      <ul>
        <li><a href="@{Application.logout()}">Logout</a></li>
        <li><a href="@{Application.guidelines()}">Guidelines</a></li>
        <li><a href="@{Application.about()}">About</a></li>
        <li>#{nameTag user: currentUser /} <img src="@{'public/images/icons/silk/lightbulb.png'}" alt="Reputation" /> ${currentUser.reputation}</li>
      </ul>
    </div>
  </div>
</div>
</div>

<div id="body-container-wrapper">
<div id="body-container">
  <div class="page-container clearfix">
    <div id="body" class="span-24">
      #{doLayout /}
    </div>
  </div>
</div>
</div>

#{include "footer.html" /}

<script type="text/javascript">
  //clouds
  $(document).ready(function(){
    //cloud range is 0 to 860
    var startingPositions = [0, 150, 350, 550, 750];
    var newStartingPosition = function() {
      //get a starting position index between 0 and 4
      var left = startingPositions[parseInt(startingPositions.length * Math.random())];

      //get a number between -25 and -50
      var top = -25 * Math.random() - 25;
      //get a number between .5 and .8
      var opacity = .5 + .3 * Math.random();
      return "left: " + left + "px; top: " + top + "px; opacity: " + opacity + "; display: none;";
    };

    var newDuration = function() {
      //get a number between 50000 and 100000 (5s, 10s)
      return 50000 * Math.random() + 50000;
    }

    var createCloud = function() {
      var img = $('<img src="' + "@{'public/images/draft/cloud.png'}" + '" class="cloud" style="' + newStartingPosition() + '"/>');
      $("#header").append(img);
      var distance = 950 - parseInt(img.css("left"))
      img.fadeIn(4000, 'linear')
          .animate({left: "+=" + distance}, 60000 * distance/950, 'linear', function() {
            img.fadeOut(2000, function() {
              img.detach();
            });
          }).dequeue();
    }

    setTimeout(createCloud, 500);
    setTimeout(createCloud, 2500);
    setInterval(createCloud, 20000);

  });
</script>

#{includesBottom /}
</body>
</html>
