<script type="text/javascript">

  $(document).ready(function(){

    var converter = new Attacklab.showdown.converter();

    //comments

    SM.CommentManager = function(targetUrl, idName, idValue) {
      this.targetUrl = targetUrl;
      this.idName = idName;
      this.idValue = idValue;
    }

    SM.CommentManager.prototype = {

      replyMode: false,
      binds: [],

      endReply: function() {
        if (this.replyMode) {
          this.replyMode = false;

          //clean up
          $(document.Reply).unbind();
          $("#new-reply textarea").unbind();

          //remove
          $("#new-reply").remove();
        }
      },

      bind: function(event, func) {
        this.binds.push({
          event: event,
          func: func
        });
      },

      newReply: function(inReplyToId) {
        if (!this.replyMode) {
          this.replyMode = true;

          $('#no-posts').remove();

          var replyForm = Mustache.to_html($("#template-reply").html(), {
            isRootPost: !inReplyToId,
            targetUrl: this.targetUrl
          });
          if (!inReplyToId) {
            $("#comments-container").prepend(replyForm);
          }
          else {
            $(".comment[comment=" + inReplyToId + "] > .replies").append(replyForm);
          }

          var newReply = $("#new-reply");
          if (newReply.offset().top > $(window).height()) {
            $(document.body).animate({scrollTop: newReply.offset().top}, "fast");
          }

          var self = this;
          var handler = $(document.Reply).formHandler(function(){

            var toReturn = {
              comment: {
                content: this.content.value,
                displayContent: converter.makeHtml(this.content.value),
                inReplyToId: inReplyToId
              },
              _fragment: function(r) {
                if (r.fragment) {
                  if (inReplyToId) {
                    $(".comment[comment=" + inReplyToId + "] > .replies").append(r.fragment);
                  }
                  else {
                    $("#comments-container").prepend(r.fragment);
                  }
                }
              }
            }
            toReturn.comment[self.idName] = self.idValue;

            return toReturn;

          }).bind(SM.Events.Submit, SM.formSubmitModal)
            .bind(SM.Events.SubmitEnd, SM.formSubmitModalClose)
            .bind(SM.Events.SubmitEndSuccess, function(){
              self.endReply.call(self);
            });

          _.each(this.binds, function(bind){
            handler.bind(bind.event, bind.func);
          });
        }
        else {
          alert("Finish current reply");
        }
      },

      _startReplyIfNotStarted: function() {
        if (!this.replyMode) {
          this.newReply();
        }
      },

      deleteContent: function(el) {
        $(el).parents(".content").animate({
            opacity: 0,
            height: 0
          },
          function() {
            $(this).remove();
          }
        );
      }
    }

  });

</script>


<script type="text/html" id="template-reply">

  <div class="new-reply-wrapper" id="new-reply">

    <form name="Reply" method="POST" action="{{targetUrl}}">
      <div class="comment">
        <div class="author">
          <cite>
            #{nameTag user:currentUser /}
          </cite>
        </div>
        <blockquote>
          <label>Comment #{markdownEnabled /}</label>
          <div class="error-message" parameter="comment.content"></div>
          <div class="input-wrapper"><textarea name="content"></textarea></div>
        </blockquote>
      </div>
    </form>

    <div class="control-bar">
      <div class="controls">
        <a href="#" onclick="SM.CommentManagerInstance.endReply();" class="button negative">
          <span>
            <img src="@{'public/images/icons/silk/cancel.png'}" alt="Cancel" />
            Cancel
          </span>
        </a>
        <a href="#" onclick="$(document.Reply).submit();" class="button positive">
          <span>
            <img src="@{'public/images/icons/silk/accept.png'}" alt="Submit Reply" />
            Submit
          </span>
        </a>
      </div>
      <div class="clear"></div>
    </div>

  </div>

</script>