<div id="footer-container">
  <div class="page-container">
    <div id="footer" class="clearfix">
      <a href="footer.html#" class="top-arrow">Top</a>

      <div class="partners">
        <a href="http://www.startupamericapartnership.org/" class="partner startup-america">Startup America</a>
        <a href="http://www.microsoft.com/bizspark/" class="partner microsoft-bizspark">Microsoft BizSpark</a>
        <div class="clear"></div>
      </div>

      <table>
        <tr>
          <td class="first">
            <h4>Connect</h4>
            <ul>
              <li><a href="http://blog.sparkmuse.com">Blog</a></li>
              <li><a href="http://www.twitter.com/sparkmuse">Twitter</a></li>
              #{if currentUser?.isUser()}<li>#{feedbackLink /}</li>#{/if}
            </ul>
          </td>
          <td>
            <h4>More</h4>
            <ul>
              <li><a href="@{Application.about()}">About</a></li>
              <li><a href="@{Application.guidelines()}">Guidelines</a></li>
              <li><a href="@{Application.credits()}">Credits</a></li>
              <!--<li><a href="@{Application.about()}">Partnering</a></li>-->
            </ul>
          </td>
          <td class="last">
            <h4>Share</h4>
            <ul>
              <li>
                <a href="http://twitter.com/share" class="twitter-share-button" data-text="Sparkmuse, a community to discuss, refine, and act on innovative tech ideas. http://sparkmuse.com @sparkmuse" data-count="horizontal" data-via="sparkmuse">Tweet</a>
              </li>
              <li>
                <iframe src="http://www.facebook.com/plugins/like.php?href=http://www.sparkmuse.com&layout=button_count&show_faces=false&width=80;&action=like&font&colorscheme=light&height=25"
                        scrolling="no"
                        frameborder="0"
                        style="border:none; width: 80px; height: 25px; overflow:hidden;"></iframe>
              </li>
            </ul>
          </td>
        </tr>
      </table>

      <img src="@{'public/images/city-shorter.png'}" id="city"/>

    </div>
  </div>
</div>

#{include "minifooter.html" /}

<script type="text/javascript">
  $(document).ready(function(){

    //top button
    $(".top-arrow").click(function(){
      $('body').animate({scrollTop:0}, 'fast');
      return false;
    });

  });
</script>