<div id="modal-submission" class="simplemodal-inner" style="display: none;">
  <div class="visual"></div>
  <hr/>
  <div class="message">Submitting</div>
</div>

<div id="modal-request-error" class="simplemodal-inner" style="display: none;">
  <h3>Oh Snap!</h3>
  <p class="message"></p>
  <hr/>

  <div class="control-bar">
    <a href="#" onclick="$.modal.close();" class="button positive">
      <span>
        <img src="@{'public/images/icons/silk/accept.png'}" alt="Close dialog"/>
        Okie Doke
      </span>
    </a>
  </div>
</div>