#{if currentUser?.hasNotifications()}

  <div id="notification-container">

    #{list items: currentUser.notificationsToShow, as: "notification"}
      <div class="notification" id="notification-${notification.id}" notificationId="${notification.id}">
        ${notification.displayMessage.raw()}
        <a href="#" class="notification-clear">Dismiss</a>
      </div>
    #{/list}
    
  </div>

  <script type="text/javascript">
    $(document).ready(function(){

      function isEmpty() {
        if (this.parentNode) {
          $(this).remove();
          var container = $("#notification-container");
          if (container.children().size() == 0) {
            container.remove();
          }
        }
      }

      function clearNotification() {
        var messageEl = $(this).parents(".notification");
        $.post(
          "@{User.clearNotification()}",
          { notificationId: messageEl.attr("notificationId") }
        );
        messageEl.fadeToggle(500, "linear", isEmpty);
        return true;
      }

      $("#notification-container a.notification-clear").click(clearNotification); //clear for any link
    });
  </script>

#{/if}