<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>#{get 'title' /}</title>
  #{meta /}
  #{includes /}

  <style type="text/css">
    h1 {
      text-indent: -9999px;
      background: url("@{'public/images/moon.png'}") top center no-repeat;
      height: 160px;
      margin: 0;
    }
  </style>
</head>
<body>

<div id="body-container-wrapper">
<div id="body-container">
  <a href="@{Home.index()}"><h1>Sparkmuse</h1></a>
  <div class="page-container clearfix">
    <div id="body" class="span-24">
      #{doLayout /}
    </div>
  </div>
</div>
</div>
#{footer /}
#{includesBottom /}
</body>
</html>