#{if currentUser?.isUser()}
  <div class="blurb">
  <div class="blurb-inner">
    <h4>Let us know what you think</h4>
    <p>
      We want to provide a place where you can begin researching, organizing, and iterating on your ideas early
      in the same way you would with its actual development.  Help us foster a community where a wide variety
      of relevant help is just around the corner and meeting potential cofounders is charmingly simple.
    </p>
    <p class="actions">
      #{feedbackLink}Feedback &rarr;#{/feedbackLink}
    </p>
  </div>
  </div>
#{/if}

<div class="blurb">
<div class="blurb-inner">
  <h4>Check out the blog</h4>
  <p>
    Get insightful commentary about researching and refining your ideas. Learn how to best take advantage of
    Sparkmuse to lift your Sparks off the ground.  Join the discussion any time, we'd love to hear from you.
  </p>
  <p class="actions">
    <a href="http://blog.sparkmuse.com">Blog &rarr;</a>
  </p>
</div>
</div>