#{if currentUser?.isUser()}
  <div class="blurb">
  <div class="blurb-inner">
    <h4>Let us know what you think</h4>
    <p>
      Together, we can make this a great place for entrepreneurs to discuss,
      connect and grow. We'd love to hear your ideas on how we can make
      Sparkmuse even better.
    </p>
    <p class="actions">
      #{feedbackLink}Feedback &rarr;#{/feedbackLink}
    </p>
  </div>
  </div>
#{/if}

<div class="blurb">
<div class="blurb-inner">
  <h4>Check out the blog</h4>
  <p>
    Get good advice on researching and refining your ideas at the Sparkmuse blog. 
    Plus, find out how best to leverage the Sparkmuse community to get to your goals.
  </p>
  <p class="actions">
    <a href="http://blog.sparkmuse.com">Blog &rarr;</a>
  </p>
</div>
</div>